In [1]:
import pandas as pd
import numpy as np
from datetime import datetime

In [2]:
df_13= pd.read_csv("datos/datos-2013.csv", sep= ";")
pd.set_option("display.max_columns", None)
df_14= pd.read_csv("datos/datos-2014.csv", sep= ";")
pd.set_option("display.max_columns", None)
df_15= pd.read_csv("datos/datos-2015.csv", sep= ";")
pd.set_option("display.max_columns", None)
df_16= pd.read_csv("datos/datos-2016.csv", sep= ";")
pd.set_option("display.max_columns", None)
df_17= pd.read_csv("datos/datos-2017.csv", sep= ";")
pd.set_option("display.max_columns", None)
df_18= pd.read_csv("datos/datos-2018.csv", sep= ";")
pd.set_option("display.max_columns", None)
df_19= pd.read_csv("datos/datos-2019.csv", sep= ";")
pd.set_option("display.max_columns", None)
df_20= pd.read_csv("datos/datos-2020.csv", sep= ";")
pd.set_option("display.max_columns", None)
df_21= pd.read_csv("datos/datos-2021.csv", sep= ";")
pd.set_option("display.max_columns", None)
#Falta abrir el diccionario de datos

In [3]:
df_dicc= pd.read_csv("datos/diccionario_datos.csv", sep= ";;", encoding= "latin-1")
pd.set_option("display.max_columns", None)

C:\Users\jaime\AppData\Local\Temp\ipykernel_6664\3123453317.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df_dicc= pd.read_csv("datos/diccionario_datos.csv", sep= ";;", encoding= "latin-1")

In [4]:
df_dicc.head()

                  COLUNA                                         DESCRIÇÃO;
0                    NaN                                                  ;
1  Código Órgão Superior  Código do Órgão Superior responsável pela rece...
2                    NaN                                                  ;
3                    NaN  Nome do Órgão Superior responsável pela receita.;
4    Nome Órgão Superior                                                  ;

In [5]:
df_13["ANO EXERCÍCIO"].head() #Sale como float porque tiene nan

0       NaN
1    2013.0
2    2013.0
3    2013.0
4    2013.0
Name: ANO EXERCÍCIO, dtype: float64

**Cambio de los nombres de las columnas para que sea homogéneo**

In [83]:
df_13.columns = [name.lower().strip() for name in df_13.columns]                        
df_14.columns = [name.lower().strip() for name in df_14.columns] 
df_15.columns = [name.lower().strip() for name in df_15.columns] 
df_16.columns = [name.lower().strip() for name in df_16.columns] 
df_17.columns = [name.lower().strip() for name in df_17.columns] 
df_18.columns = [name.lower().strip() for name in df_18.columns] 
df_19.columns = [name.lower().strip() for name in df_19.columns] 
df_20.columns = [name.lower().strip() for name in df_20.columns] 
df_21.columns = [name.lower().strip() for name in df_21.columns]

***Comprobación de que tengan las mismas columnas***

In [7]:
df_13.columns.tolist()

['código órgão superior',
 'nome órgão superior',
 'código órgão',
 'nome órgão',
 'código unidade gestora',
 'nome unidade gestora',
 'categoria econômica',
 'origem receita',
 'espécie receita',
 'detalhamento',
 'valor previsto atualizado',
 'valor lançado',
 'valor realizado',
 'percentual realizado',
 'data lançamento',
 'ano exercício']

In [8]:
df_13.columns.tolist() == df_14.columns.tolist() ==df_15.columns.tolist() == df_16.columns.tolist() == df_17.columns.tolist() == df_18.columns.tolist() == df_19.columns.tolist() == df_20.columns.tolist() == df_21.columns.tolist()

True

In [9]:
df_13["código órgão superior"].unique()

array([63000., 37000.,    nan, 22000., 55000., 24000., 52000., 25000.,
       26000., 39000., 30000., 81000., 58000., 33000., 36000., 41000.,
       57000., 35000., 32000., 49000., 53000., 51000., 44000., 38000.,
       54000., 20000.])

In [10]:
df_13["código órgão"].unique()

array([63000., 66000., 22202., 22000., 22211.,    nan, 44208., 22201.,
       22905., 49001., 55000., 55001., 24000., 20501., 20301., 24901.,
       20502., 24209., 20402., 49280., 52911., 52904., 52132., 52912.,
       52131., 52121., 52111., 31280., 52000., 52133., 52221., 52211.,
       52222., 30203., 25000., 37202., 25205., 20603., 25201., 38901.,
       25208., 33206., 30204., 25203., 37201., 20202., 25915., 25207.,
       25914., 22500., 25901., 25211., 25904., 61201., 28500., 25916.,
       20924., 71902., 25905., 26435., 26276., 26000., 26285., 26233.,
       26407., 26232., 26405., 26292., 26423., 26422., 26251., 26234.,
       26275., 26238., 26261., 26244., 26432., 26414., 26421., 26411.,
       26270., 26417., 26410., 26282., 26430., 26258., 26278., 26416.,
       26253., 26420., 26418., 26408., 26240., 26246., 26433., 26428.,
       26263., 26412., 26404., 26248., 26434., 26409., 26264., 26424.,
       26415., 26291., 26413., 26236., 26243., 26255., 26419., 26247.,
       26271., 26266., 26402., 26277., 26252., 26351., 26403., 26245.,
       26294., 26298., 26425., 26427., 26268., 26429., 26256., 26290.,
       26279., 26201., 26257., 26231., 26235., 26260., 26437., 26439.,
       26272., 26438., 26262., 26440., 26267., 26254., 26237., 26441.,
       26442., 26352., 26230., 26280., 26241., 26350., 26281., 26431.,
       26249., 26269., 26436., 26250., 26284., 26426., 26239., 26406.,
       26286., 26242., 26273., 26274., 26443., 26283., 62201., 39252.,
       39250., 49901., 56901., 39000., 68201., 68000., 39251., 29209.,
       62901., 39253., 39816., 39812., 39813., 39811., 39815., 39814.,
       39817., 62000., 30802., 30108., 30905., 30907., 30202., 30211.,
       30911., 30000., 30912., 30205., 20122., 58000., 33000., 36211.,
       36201., 36210., 36000., 36213., 36212., 36208., 36209., 41000.,
       20415., 41231., 41232., 41903., 64902., 64901., 35000., 35201.,
       20303., 29208., 32000., 32205., 32263., 32210., 32314., 20302.,
       49000., 29205., 29214., 53902., 53901., 53903., 22204., 22203.,
       53000., 53202., 74917., 56902., 53203., 44205., 53205., 53207.,
       74918., 91214., 44206., 44000., 44902., 20701., 44207., 44204.,
       38000., 20403., 20604., 42207., 20411., 20412., 34902., 20203.,
       54000., 20408., 20404., 54901., 20101., 67000., 64000., 69000.,
       20116., 24208., 60000., 20117., 61000.])

In [11]:
df_14.shape

(4553, 16)

*Nulo*  

para nulos de org super que me busque el cod org sup y q me ponga el nom de org sup que esté asociado a ese código

*Para rellenar el año que falta porque pone nan*

In [63]:
listadf= [df_13,df_14,df_15,df_16,df_17,df_18,df_19,df_20,df_21]
lista_anio= [2013,2014,2015,2016,2016,2017,2018,2019,2020,2021]
def fillyear(df, year):
    df["ano exercício"] = df["ano exercício"].fillna(year)
    return df

In [71]:
listadf_aniosbien = list(map(fillyear, listadf, lista_anio))

*Para rellenar nome órgão superior  usando código órgão superior*

In [85]:
codigo= list(df_13["código órgão superior"])

[63000.0,
 63000.0,
 63000.0,
 63000.0,
 63000.0,
 63000.0,
 63000.0,
 63000.0,
 63000.0,
 63000.0,
 63000.0,
 37000.0,
 37000.0,
 37000.0,
 37000.0,
 37000.0,
 37000.0,
 37000.0,
 nan,
 37000.0,
 22000.0,
 22000.0,
 22000.0,
 22000.0,
 22000.0,
 22000.0,
 22000.0,
 22000.0,
 22000.0,
 22000.0,
 22000.0,
 nan,
 22000.0,
 nan,
 22000.0,
 22000.0,
 22000.0,
 22000.0,
 22000.0,
 22000.0,
 22000.0,
 22000.0,
 22000.0,
 22000.0,
 nan,
 22000.0,
 22000.0,
 22000.0,
 22000.0,
 22000.0,
 22000.0,
 22000.0,
 22000.0,
 22000.0,
 nan,
 22000.0,
 22000.0,
 22000.0,
 22000.0,
 22000.0,
 22000.0,
 22000.0,
 22000.0,
 22000.0,
 22000.0,
 22000.0,
 22000.0,
 22000.0,
 22000.0,
 22000.0,
 22000.0,
 22000.0,
 22000.0,
 22000.0,
 22000.0,
 nan,
 22000.0,
 22000.0,
 22000.0,
 22000.0,
 22000.0,
 22000.0,
 22000.0,
 22000.0,
 22000.0,
 22000.0,
 22000.0,
 22000.0,
 22000.0,
 22000.0,
 22000.0,
 22000.0,
 22000.0,
 22000.0,
 22000.0,
 22000.0,
 22000.0,
 22000.0,
 22000.0,
 22000.0,
 22000.0,
 22000.0,
 22000.0,
 22000.0,
 22000.0,
 22000.0,
 22000.0,
 nan,
 nan,
 22000.0,
 22000.0,
 22000.0,
 22000.0,
 nan,
 22000.0,
 22000.0,
 22000.0,
 22000.0,
 22000.0,
 22000.0,
 22000.0,
 22000.0,
 22000.0,
 22000.0,
 nan,
 22000.0,
 22000.0,
 22000.0,
 22000.0,
 22000.0,
 22000.0,
 22000.0,
 22000.0,
 22000.0,
 22000.0,
 22000.0,
 22000.0,
 22000.0,
 22000.0,
 22000.0,
 22000.0,
 22000.0,
 22000.0,
 22000.0,
 22000.0,
 22000.0,
 22000.0,
 22000.0,
 22000.0,
 22000.0,
 22000.0,
 22000.0,
 22000.0,
 22000.0,
 22000.0,
 22000.0,
 22000.0,
 22000.0,
 22000.0,
 22000.0,
 22000.0,
 22000.0,
 22000.0,
 22000.0,
 22000.0,
 22000.0,
 22000.0,
 22000.0,
 22000.0,
 22000.0,
 nan,
 22000.0,
 22000.0,
 22000.0,
 22000.0,
 22000.0,
 22000.0,
 22000.0,
 22000.0,
 22000.0,
 22000.0,
 22000.0,
 22000.0,
 22000.0,
 22000.0,
 22000.0,
 nan,
 55000.0,
 55000.0,
 55000.0,
 55000.0,
 55000.0,
 55000.0,
 55000.0,
 55000.0,
 55000.0,
 55000.0,
 55000.0,
 55000.0,
 55000.0,
 55000.0,
 55000.0,
 55000.0,
 55000.0,
 55000.0,
 55000.0,
 55000.0,
 55000.0,
 55000.0,
 55000.0,
 55000.0,
 55000.0,
 55000.0,
 55000.0,
 55000.0,
 55000.0,
 55000.0,
 55000.0,
 55000.0,
 55000.0,
 55000.0,
 55000.0,
 55000.0,
 55000.0,
 55000.0,
 55000.0,
 55000.0,
 55000.0,
 55000.0,
 55000.0,
 55000.0,
 55000.0,
 55000.0,
 55000.0,
 24000.0,
 24000.0,
 24000.0,
 24000.0,
 24000.0,
 24000.0,
 24000.0,
 24000.0,
 24000.0,
 nan,
 24000.0,
 24000.0,
 24000.0,
 24000.0,
 24000.0,
 24000.0,
 24000.0,
 24000.0,
 24000.0,
 24000.0,
 24000.0,
 nan,
 24000.0,
 24000.0,
 24000.0,
 24000.0,
 24000.0,
 24000.0,
 24000.0,
 24000.0,
 24000.0,
 24000.0,
 24000.0,
 24000.0,
 24000.0,
 24000.0,
 24000.0,
 24000.0,
 24000.0,
 24000.0,
 24000.0,
 24000.0,
 24000.0,
 24000.0,
 24000.0,
 24000.0,
 24000.0,
 24000.0,
 nan,
 24000.0,
 24000.0,
 24000.0,
 24000.0,
 24000.0,
 24000.0,
 24000.0,
 24000.0,
 24000.0,
 24000.0,
 24000.0,
 24000.0,
 24000.0,
 24000.0,
 24000.0,
 24000.0,
 24000.0,
 24000.0,
 nan,
 24000.0,
 24000.0,
 24000.0,
 24000.0,
 24000.0,
 24000.0,
 24000.0,
 24000.0,
 24000.0,
 24000.0,
 24000.0,
 24000.0,
 24000.0,
 24000.0,
 24000.0,
 24000.0,
 24000.0,
 24000.0,
 24000.0,
 24000.0,
 24000.0,
 24000.0,
 24000.0,
 24000.0,
 24000.0,
 24000.0,
 24000.0,
 24000.0,
 24000.0,
 24000.0,
 24000.0,
 24000.0,
 24000.0,
 24000.0,
 24000.0,
 24000.0,
 24000.0,
 24000.0,
 24000.0,
 24000.0,
 24000.0,
 24000.0,
 24000.0,
 nan,
 24000.0,
 24000.0,
 24000.0,
 24000.0,
 24000.0,
 24000.0,
 24000.0,
 24000.0,
 24000.0,
 24000.0,
 24000.0,
 24000.0,
 24000.0,
 24000.0,
 24000.0,
 24000.0,
 52000.0,
 52000.0,
 52000.0,
 52000.0,
 52000.0,
 52000.0,
 52000.0,
 52000.0,
 52000.0,
 52000.0,
 52000.0,
 52000.0,
 52000.0,
 52000.0,
 52000.0,
 52000.0,
 52000.0,
 52000.0,
 52000.0,
 52000.0,
 52000.0,
 52000.0,
 52000.0,
 52000.0,
 nan,
 nan,
 52000.0,
 52000.0,
 52000.0,
 52000.0,
 52000.0,
 52000.0,
 52000.0,
 52000.0,
 52000.0,
 nan,
 52000.0,
 52000.0,
 52000.0,
 52000.0,
 52000.0,
 52000.0,
 52000.0,
 52000.0,
 52000.0,
 52000.0,
 52000.0,
 52000.0,
 52000.0,
 52000.0,
 52000.0,
 52000.0,
 52000.0,
 52000.0,
 52000.0,
 52000.0,
 52000.0,
 52000.0,
 52000.0,
 52000.0,
 52000.0,
 52000.0,
 nan,
 52000.0,
 52000.0,
 52000.0,
 52000.0,
 52000.0,
 52000.0,
 52000.0,
 52000.0,
 52000.0,
 52000.0,
 52000.0,
 52000.0,
 52000.0,
 52000.0,
 52000.0,
 52000.0,
 52000.0,
 52000.0,
 52000.0,
 52000.0,
 52000.0,
 52000.0,
 52000.0,
 52000.0,
 52000.0,
 52000.0,
 52000.0,
 52000.0,
 52000.0,
 52000.0,
 52000.0,
 52000.0,
 52000.0,
 52000.0,
 52000.0,
 52000.0,
 52000.0,
 52000.0,
 52000.0,
 52000.0,
 52000.0,
 52000.0,
 52000.0,
 52000.0,
 52000.0,
 52000.0,
 52000.0,
 52000.0,
 52000.0,
 52000.0,
 52000.0,
 52000.0,
 52000.0,
 52000.0,
 52000.0,
 52000.0,
 52000.0,
 52000.0,
 52000.0,
 52000.0,
 52000.0,
 52000.0,
 52000.0,
 52000.0,
 52000.0,
 52000.0,
 52000.0,
 52000.0,
 52000.0,
 52000.0,
 52000.0,
 52000.0,
 52000.0,
 52000.0,
 nan,
 52000.0,
 52000.0,
 52000.0,
 52000.0,
 52000.0,
 52000.0,
 52000.0,
 52000.0,
 52000.0,
 52000.0,
 52000.0,
 52000.0,
 52000.0,
 52000.0,
 52000.0,
 52000.0,
 52000.0,
 52000.0,
 52000.0,
 52000.0,
 52000.0,
 52000.0,
 52000.0,
 52000.0,
 52000.0,
 52000.0,
 nan,
 52000.0,
 52000.0,
 52000.0,
 52000.0,
 52000.0,
 52000.0,
 52000.0,
 52000.0,
 52000.0,
 52000.0,
 52000.0,
 52000.0,
 52000.0,
 52000.0,
 52000.0,
 nan,
 52000.0,
 52000.0,
 52000.0,
 52000.0,
 52000.0,
 52000.0,
 52000.0,
 52000.0,
 52000.0,
 52000.0,
 52000.0,
 52000.0,
 52000.0,
 52000.0,
 52000.0,
 52000.0,
 52000.0,
 52000.0,
 52000.0,
 52000.0,
 52000.0,
 52000.0,
 52000.0,
 52000.0,
 52000.0,
 52000.0,
 52000.0,
 52000.0,
 52000.0,
 52000.0,
 52000.0,
 52000.0,
 52000.0,
 52000.0,
 52000.0,
 52000.0,
 52000.0,
 52000.0,
 52000.0,
 52000.0,
 52000.0,
 52000.0,
 52000.0,
 52000.0,
 52000.0,
 52000.0,
 52000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 nan,
 25000.0,
 nan,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 nan,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 nan,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 nan,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 nan,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 nan,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 nan,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 nan,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 nan,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 nan,
 25000.0,
 nan,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 nan,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 nan,
 25000.0,
 25000.0,
 25000.0,
 nan,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 nan,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 nan,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 nan,
 nan,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 nan,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 nan,
 nan,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 nan,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 25000.0,
 ...]

In [91]:
dftemporal= df_13.dropna()

In [94]:
listacod= list(dftemporal["código órgão superior"])
listaname= list(dftemporal["nome órgão superior"])

In [95]:
codigos_namedic= {listacod:listaname}

TypeError: unhashable type: 'list'

**Mergeo**

In [80]:
df_completa = pd.concat(listadf_aniosbien).reset_index(drop= True)

In [81]:
df_completa.shape

(1026299, 16)

In [87]:
df_completa.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1026299 entries, 0 to 1026298
Data columns (total 16 columns):
 #   Column                     Non-Null Count    Dtype
---  ------                     --------------    -----
 0   código órgão superior      995940 non-null   float64
 1   nome órgão superior        667093 non-null   object
 2   código órgão               1001182 non-null  float64
 3   nome órgão                 991412 non-null   object
 4   código unidade gestora     992718 non-null   float64
 5   nome unidade gestora       1006818 non-null  object
 6   categoria econômica        1007321 non-null  object
 7   origem receita             987881 non-null   object
 8   espécie receita            994372 non-null   object
 9   detalhamento               996962 non-null   object
 10  valor previsto atualizado  974984 non-null   object
 11  valor lançado              999880 non-null   object
 12  valor realizado            986834 non-null   object
 13  percentual realizado       1002165 non-null  object
 14  data lançamento            1002468 non-null  object
 15  ano exercício              1026299 non-null  float64
dtypes: float64(4), object(12)
memory usage: 125.3+ MB

In [12]:
df_13.head(3)

,código órgão superior,nome órgão superior,código órgão,nome órgão,código unidade gestora,nome unidade gestora,categoria econômica,origem receita,espécie receita,detalhamento,valor previsto atualizado,valor lançado,valor realizado,percentual realizado,data lançamento,ano exercício
0,63000.0,NaN,63000.0,Advocacia-Geral da União - Unidades com víncul...,110060.0,COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU,Receitas Correntes,Outras Receitas Correntes,"Bens, Direitos e Valores Incorporados ao Patr",REC.DIVIDA ATIVA NAO TRIBUTARIA DE OUTRAS REC,"0,00","0,00","1297,13","0,00",31/12/2013,NaN
1,63000.0,Advocacia-Geral da União,63000.0,Advocacia-Geral da União - Unidades com víncul...,110060.0,COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU,Receitas Correntes,Outras Receitas Correntes,"Indenizações, restituições e ressarcimentos",RECUPERACAO DE DESPESAS DE EXERC. ANTERIORES,"0,00","0,00","26666621,42","0,00",31/12/2013,2013.0
2,63000.0,Advocacia-Geral da União,63000.0,Advocacia-Geral da União - Unidades com víncul...,110060.0,COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU,Receitas Correntes,Outras Receitas Correntes,"Multas administrativas, contratuais e judicia",OUTRAS MULTAS E JUROS DE MORA,"0,00","0,00","301251,13","0,00",31/12/2013,2013.0

In [13]:
df_13.sample(3)

,código órgão superior,nome órgão superior,código órgão,nome órgão,código unidade gestora,nome unidade gestora,categoria econômica,origem receita,espécie receita,detalhamento,valor previsto atualizado,valor lançado,valor realizado,percentual realizado,data lançamento,ano exercício
233,55000.0,Ministério da Cidadania,55001.0,Fundo Nacional de Assistência Social,330013.0,FUNDO NACIONAL DE ASSISTENCIA SOCIAL,Receitas Correntes,Outras Receitas Correntes,Demais receitas correntes,REC. DE LEILOES DE MERCADORIAS APREENDIDAS,"39526386,00","0,00","0,00","0,00",31/12/2013,2013.0
2214,26000.0,Ministério da Educação,26241.0,Universidade Federal do Paraná,153079.0,UNIVERSIDADE FEDERAL DO PARANA,Receitas Correntes,Outras Receitas Correntes,NaN,INDENIZ. POR DANOS CAUSADOS AO PATR. PUBLICO,"1139,00","0,00","0,00","0,00",31/12/2013,2013.0
1796,26000.0,Ministério da Educação,26241.0,Universidade Federal do Paraná,153079.0,UNIVERSIDADE FEDERAL DO PARANA,Receitas Correntes,Receita Industrial,Receitas da indústria de transformação,RECEITA DA INDUSTRIA EDITORIAL E GRAFICA,NaN,"0,00","114345,30","0,00",31/12/2013,2013.0

In [14]:
df_13["data lançamento"]

0       31/12/2013
1       31/12/2013
2       31/12/2013
3       31/12/2013
4       31/12/2013
           ...
4493    31/12/2013
4494    31/12/2013
4495    31/12/2013
4496    31/12/2013
4497    31/12/2013
Name: data lançamento, Length: 4498, dtype: object

In [15]:
df_13.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4498 entries, 0 to 4497
Data columns (total 16 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   código órgão superior      4282 non-null   float64
 1   nome órgão superior        2924 non-null   object
 2   código órgão               4362 non-null   float64
 3   nome órgão                 4286 non-null   object
 4   código unidade gestora     4324 non-null   float64
 5   nome unidade gestora       4278 non-null   object
 6   categoria econômica        4303 non-null   object
 7   origem receita             4413 non-null   object
 8   espécie receita            4355 non-null   object
 9   detalhamento               4377 non-null   object
 10  valor previsto atualizado  4273 non-null   object
 11  valor lançado              4282 non-null   object
 12  valor realizado            4309 non-null   object
 13  percentual realizado       4360 non-null   object
 14  data lançamento            4398 non-null   object
 15  ano exercício              3374 non-null   float64
dtypes: float64(4), object(12)
memory usage: 562.4+ KB

In [16]:
df_13.describe(include ="O").T

,count,unique,top,freq
nome órgão superior,2924,25,Ministério da Educação,1173
nome órgão,4286,264,Ministério da Economia - Unidades com vínculo ...,476
nome unidade gestora,4278,279,SETORIAL ORCAMENTARIA E FINANCEIRA / ME,392
categoria econômica,4303,4,Receitas Correntes,3829
origem receita,4413,15,Outras Receitas Correntes,1945
espécie receita,4355,44,Receita de Serviços,955
detalhamento,4377,694,RECUPERACAO DE DESPESAS DE EXERC. ANTERIORES,210
valor previsto atualizado,4273,2646,"0,00",1546
valor lançado,4282,51,"0,00",4232
valor realizado,4309,3583,"0,00",678
percentual realizado,4360,570,"0,00",2244
data lançamento,4398,1,31/12/2013,4398

In [17]:
df_13.describe().T

,count,mean,std,min,25%,50%,75%,max
código órgão superior,4282.0,31739.607660,10692.607398,20000.0,25000.0,26000.0,36000.0,81000.0
código órgão,4362.0,31484.209995,10810.318732,20101.0,26000.0,26292.0,35000.0,91214.0
código unidade gestora,4324.0,232766.252775,141238.719759,110005.0,153978.0,160075.0,253003.0,913001.0
ano exercício,3374.0,2013.000000,0.000000,2013.0,2013.0,2013.0,2013.0,2013.0

Tengo que:  
  
  - Pasar data lazamiento a datetime  DONE
  - ver si puedo acabar con nulos de alguna manera para eliminar float como tipo
  - las 3 de valores a int o float y el porcentaje que está en texto por 125 quiero eliminar los puntos por si hay un (1.500,00) para tenerlo así(1500,0) y luego ya replace la , para (1500.00) y tenerlo en float DONE

**Transformación de valores**

In [18]:
df_13["data lançamento"] = pd.to_datetime(df_13["data lançamento"]) 
df_13["data lançamento"]

C:\Users\jaime\AppData\Local\Temp\ipykernel_6664\2231175003.py:1: UserWarning: Parsing dates in %d/%m/%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df_13["data lançamento"] = pd.to_datetime(df_13["data lançamento"])

0      2013-12-31
1      2013-12-31
2      2013-12-31
3      2013-12-31
4      2013-12-31
          ...
4493   2013-12-31
4494   2013-12-31
4495   2013-12-31
4496   2013-12-31
4497   2013-12-31
Name: data lançamento, Length: 4498, dtype: datetime64[ns]

In [20]:
df_13["valor realizado"]= df_13["valor realizado"].str.replace(",",".")
df_13["valor realizado"]

0            1297.13
1        26666621.42
2          301251.13
3            1855.58
4           52140.68
            ...
4493            8.34
4494            0.28
4495        61593.03
4496    161286016.04
4497      1100465.84
Name: valor realizado, Length: 4498, dtype: object

In [21]:
df_13["valor realizado"] = list(map(float, df_13["valor realizado"]))
df_13["valor realizado"]

0       1.297130e+03
1       2.666662e+07
2       3.012511e+05
3       1.855580e+03
4       5.214068e+04
            ...
4493    8.340000e+00
4494    2.800000e-01
4495    6.159303e+04
4496    1.612860e+08
4497    1.100466e+06
Name: valor realizado, Length: 4498, dtype: float64

In [22]:
df_13["valor lançado"]

0       0,00
1       0,00
2       0,00
3       0,00
4       0,00
        ...
4493    0,00
4494    0,00
4495    0,00
4496    0,00
4497    0,00
Name: valor lançado, Length: 4498, dtype: object

In [23]:
df_13["valor previsto atualizado"]

0               0,00
1               0,00
2               0,00
3               0,00
4               0,00
            ...
4493            0,00
4494            0,00
4495            0,00
4496    120839273,00
4497       500004,00
Name: valor previsto atualizado, Length: 4498, dtype: object

In [24]:
df_13["valor lançado"]= df_13["valor lançado"].str.replace(",",".")
df_13["valor lançado"] = list(map(float, df_13["valor lançado"]))
df_13["valor lançado"]

0       0.0
1       0.0
2       0.0
3       0.0
4       0.0
       ...
4493    0.0
4494    0.0
4495    0.0
4496    0.0
4497    0.0
Name: valor lançado, Length: 4498, dtype: float64

In [25]:
df_13["valor previsto atualizado"]= df_13["valor previsto atualizado"].str.replace(",",".")
df_13["valor previsto atualizado"] = list(map(float, df_13["valor previsto atualizado"]))
df_13["valor previsto atualizado"]

0               0.0
1               0.0
2               0.0
3               0.0
4               0.0
           ...
4493            0.0
4494            0.0
4495            0.0
4496    120839273.0
4497       500004.0
Name: valor previsto atualizado, Length: 4498, dtype: float64

In [45]:
df_13["percentual realizado"]= df_13["percentual realizado"].str.replace(",",".")
df_13["percentual realizado"] = list(map(float, df_13["percentual realizado"]))
df_13["percentual realizado"]

0         0.0
1         0.0
2         0.0
3         0.0
4         0.0
        ...
4493      0.0
4494      0.0
4495      0.0
4496    133.0
4497    220.0
Name: percentual realizado, Length: 4498, dtype: float64

In [46]:
df_13.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4498 entries, 0 to 4497
Data columns (total 16 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   código órgão superior      4282 non-null   float64
 1   nome órgão superior        2924 non-null   object
 2   código órgão               4362 non-null   float64
 3   nome órgão                 4286 non-null   object
 4   código unidade gestora     4324 non-null   float64
 5   nome unidade gestora       4278 non-null   object
 6   categoria econômica        4303 non-null   object
 7   origem receita             4413 non-null   object
 8   espécie receita            4355 non-null   object
 9   detalhamento               4377 non-null   object
 10  valor previsto atualizado  4273 non-null   float64
 11  valor lançado              4282 non-null   float64
 12  valor realizado            4309 non-null   float64
 13  percentual realizado       4360 non-null   float64
 14  data lançamento            4398 non-null   datetime64[ns]
 15  ano exercício              3374 non-null   float64
dtypes: datetime64[ns](1), float64(8), object(7)
memory usage: 562.4+ KB

In [27]:
df_14.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4553 entries, 0 to 4552
Data columns (total 16 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   código órgão superior      4331 non-null   float64
 1   nome órgão superior        2959 non-null   object
 2   código órgão               4493 non-null   float64
 3   nome órgão                 4439 non-null   object
 4   código unidade gestora     4332 non-null   float64
 5   nome unidade gestora       4392 non-null   object
 6   categoria econômica        4502 non-null   object
 7   origem receita             4487 non-null   object
 8   espécie receita            4455 non-null   object
 9   detalhamento               4506 non-null   object
 10  valor previsto atualizado  4325 non-null   object
 11  valor lançado              4375 non-null   object
 12  valor realizado            4328 non-null   object
 13  percentual realizado       4437 non-null   object
 14  data lançamento            4411 non-null   object
 15  ano exercício              3415 non-null   float64
dtypes: float64(4), object(12)
memory usage: 569.3+ KB

In [28]:
df_14.describe().T

,count,mean,std,min,25%,50%,75%,max
código órgão superior,4331.0,31847.841145,10813.244886,20000.0,25000.0,26000.0,36000.0,81000.0
código órgão,4493.0,31818.443356,11143.198081,20101.0,26000.0,26298.0,36201.0,91214.0
código unidade gestora,4332.0,236574.978532,145862.242362,110005.0,153167.0,160075.0,255000.0,913001.0
ano exercício,3415.0,2014.000000,0.000000,2014.0,2014.0,2014.0,2014.0,2014.0

In [29]:
df_15.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4523 entries, 0 to 4522
Data columns (total 16 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   código órgão superior      4324 non-null   float64
 1   nome órgão superior        2940 non-null   object
 2   código órgão               4351 non-null   float64
 3   nome órgão                 4361 non-null   object
 4   código unidade gestora     4326 non-null   float64
 5   nome unidade gestora       4449 non-null   object
 6   categoria econômica        4463 non-null   object
 7   origem receita             4346 non-null   object
 8   espécie receita            4320 non-null   object
 9   detalhamento               4393 non-null   object
 10  valor previsto atualizado  4297 non-null   object
 11  valor lançado              4381 non-null   object
 12  valor realizado            4351 non-null   object
 13  percentual realizado       4322 non-null   object
 14  data lançamento            4398 non-null   object
 15  ano exercício              3392 non-null   float64
dtypes: float64(4), object(12)
memory usage: 565.5+ KB

In [30]:
df_15.describe().T

,count,mean,std,min,25%,50%,75%,max
código órgão superior,4324.0,31970.860315,10941.671616,20000.0,25000.0,26000.0,36000.0,81000.0
código órgão,4351.0,32019.609975,11465.439048,20101.0,26000.0,26298.0,36211.0,91214.0
código unidade gestora,4326.0,237160.818770,145720.161158,110005.0,153173.0,167086.0,264001.0,913001.0
ano exercício,3392.0,2015.000000,0.000000,2015.0,2015.0,2015.0,2015.0,2015.0

In [31]:
df_16.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 194533 entries, 0 to 194532
Data columns (total 16 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   código órgão superior      190214 non-null  float64
 1   nome órgão superior        126446 non-null  object
 2   código órgão               190506 non-null  float64
 3   nome órgão                 191144 non-null  object
 4   código unidade gestora     185211 non-null  float64
 5   nome unidade gestora       191552 non-null  object
 6   categoria econômica        192399 non-null  object
 7   origem receita             186042 non-null  object
 8   espécie receita            190129 non-null  object
 9   detalhamento               186707 non-null  object
 10  valor previsto atualizado  184806 non-null  object
 11  valor lançado              188960 non-null  object
 12  valor realizado            188766 non-null  object
 13  percentual realizado       192008 non-null  object
 14  data lançamento            192088 non-null  object
 15  ano exercício              145900 non-null  float64
dtypes: float64(4), object(12)
memory usage: 23.7+ MB

In [32]:
df_16.describe().T

,count,mean,std,min,25%,50%,75%,max
código órgão superior,190214.0,32735.986836,11072.787723,20000.0,26000.0,26000.0,39000.0,81000.0
código órgão,190506.0,32087.913158,10958.211896,20101.0,26232.0,26406.0,36212.0,91214.0
código unidade gestora,185211.0,231662.563579,143282.285279,110005.0,153165.0,167086.0,253003.0,913001.0
ano exercício,145900.0,2016.000000,0.000000,2016.0,2016.0,2016.0,2016.0,2016.0

In [33]:
df_17.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 190479 entries, 0 to 190478
Data columns (total 16 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   código órgão superior      185999 non-null  float64
 1   nome órgão superior        123811 non-null  object
 2   código órgão               188418 non-null  float64
 3   nome órgão                 185457 non-null  object
 4   código unidade gestora     186949 non-null  float64
 5   nome unidade gestora       188076 non-null  object
 6   categoria econômica        187950 non-null  object
 7   origem receita             181808 non-null  object
 8   espécie receita            181798 non-null  object
 9   detalhamento               186726 non-null  object
 10  valor previsto atualizado  180955 non-null  object
 11  valor lançado              182124 non-null  object
 12  valor realizado            182807 non-null  object
 13  percentual realizado       186281 non-null  object
 14  data lançamento            183488 non-null  object
 15  ano exercício              142859 non-null  float64
dtypes: float64(4), object(12)
memory usage: 23.3+ MB

In [34]:
df_17.describe().T

,count,mean,std,min,25%,50%,75%,max
código órgão superior,185999.0,32547.115845,10955.975665,20000.0,26000.0,26000.0,39000.0,81000.0
código órgão,188418.0,31814.245996,10681.942444,20101.0,26231.0,26405.0,36201.0,91214.0
código unidade gestora,186949.0,231583.874880,142775.277196,110005.0,153166.0,167086.0,253003.0,913001.0
ano exercício,142859.0,2017.000000,0.000000,2017.0,2017.0,2017.0,2017.0,2017.0

In [35]:
df_18.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 173944 entries, 0 to 173943
Data columns (total 16 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   código órgão superior      165690 non-null  float64
 1   nome órgão superior        113064 non-null  object
 2   código órgão               168716 non-null  float64
 3   nome órgão                 166611 non-null  object
 4   código unidade gestora     166913 non-null  float64
 5   nome unidade gestora       171411 non-null  object
 6   categoria econômica        170516 non-null  object
 7   origem receita             168037 non-null  object
 8   espécie receita            166386 non-null  object
 9   detalhamento               167435 non-null  object
 10  valor previsto atualizado  165247 non-null  object
 11  valor lançado              170168 non-null  object
 12  valor realizado            165640 non-null  object
 13  percentual realizado       171264 non-null  object
 14  data lançamento            169298 non-null  object
 15  ano exercício              130458 non-null  float64
dtypes: float64(4), object(12)
memory usage: 21.2+ MB

In [36]:
df_18.describe().T

,count,mean,std,min,25%,50%,75%,max
código órgão superior,165690.0,31425.408896,10166.459924,20000.0,25000.0,26000.0,36000.0,81000.0
código órgão,168716.0,30759.630468,9821.452882,20101.0,25000.0,26285.0,32396.0,91214.0
código unidade gestora,166913.0,224882.574233,138519.077341,110005.0,154034.0,167086.0,240901.0,913001.0
ano exercício,130458.0,2018.000000,0.000000,2018.0,2018.0,2018.0,2018.0,2018.0

In [37]:
df_19.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 176828 entries, 0 to 176827
Data columns (total 16 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   código órgão superior      170865 non-null  float64
 1   nome órgão superior        114938 non-null  object
 2   código órgão               173643 non-null  float64
 3   nome órgão                 169862 non-null  object
 4   código unidade gestora     171547 non-null  float64
 5   nome unidade gestora       174840 non-null  object
 6   categoria econômica        174890 non-null  object
 7   origem receita             168623 non-null  object
 8   espécie receita            172708 non-null  object
 9   detalhamento               172006 non-null  object
 10  valor previsto atualizado  167987 non-null  object
 11  valor lançado              172190 non-null  object
 12  valor realizado            169191 non-null  object
 13  percentual realizado       170075 non-null  object
 14  data lançamento            173914 non-null  object
 15  ano exercício              132621 non-null  float64
dtypes: float64(4), object(12)
memory usage: 21.6+ MB

In [38]:
df_19.describe().T

,count,mean,std,min,25%,50%,75%,max
código órgão superior,170865.0,31409.703567,10161.744743,20000.0,25000.0,26000.0,36000.0,81000.0
código órgão,173643.0,30825.272945,9834.693796,20101.0,25000.0,26290.0,32396.0,91214.0
código unidade gestora,171547.0,225092.502475,139752.985581,110005.0,154039.0,167086.0,240102.0,913001.0
ano exercício,132621.0,2019.000000,0.000000,2019.0,2019.0,2019.0,2019.0,2019.0

In [39]:
df_20.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 142348 entries, 0 to 142347
Data columns (total 16 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   código órgão superior      137044 non-null  float64
 1   nome órgão superior        92526 non-null   object
 2   código órgão               135491 non-null  float64
 3   nome órgão                 135255 non-null  object
 4   código unidade gestora     138764 non-null  float64
 5   nome unidade gestora       139702 non-null  object
 6   categoria econômica        136452 non-null  object
 7   origem receita             138019 non-null  object
 8   espécie receita            137467 non-null  object
 9   detalhamento               138373 non-null  object
 10  valor previsto atualizado  135231 non-null  object
 11  valor lançado              140252 non-null  object
 12  valor realizado            138063 non-null  object
 13  percentual realizado       140314 non-null  object
 14  data lançamento            139954 non-null  object
 15  ano exercício              106761 non-null  float64
dtypes: float64(4), object(12)
memory usage: 17.4+ MB

In [40]:
df_20.describe().T

,count,mean,std,min,25%,50%,75%,max
código órgão superior,137044.0,32086.125624,10598.321210,20000.0,25000.0,26000.0,39000.0,81000.0
código órgão,135491.0,31579.852618,10454.175702,20101.0,25000.0,26290.0,36201.0,90000.0
código unidade gestora,138764.0,238443.493471,151544.696762,110005.0,154044.0,170013.0,253003.0,873001.0
ano exercício,106761.0,2020.000000,0.000000,2020.0,2020.0,2020.0,2020.0,2020.0

In [41]:
df_21.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 134593 entries, 0 to 134592
Data columns (total 16 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   código órgão superior      133191 non-null  float64
 1   nome órgão superior        87485 non-null   object
 2   código órgão               131202 non-null  float64
 3   nome órgão                 129997 non-null  object
 4   código unidade gestora     130352 non-null  float64
 5   nome unidade gestora       128118 non-null  object
 6   categoria econômica        131846 non-null  object
 7   origem receita             132106 non-null  object
 8   espécie receita            132754 non-null  object
 9   detalhamento               132439 non-null  object
 10  valor previsto atualizado  127863 non-null  object
 11  valor lançado              133148 non-null  object
 12  valor realizado            129379 non-null  object
 13  percentual realizado       129104 non-null  object
 14  data lançamento            130519 non-null  object
 15  ano exercício              100945 non-null  float64
dtypes: float64(4), object(12)
memory usage: 16.4+ MB

In [42]:
df_21.describe().T

,count,mean,std,min,25%,50%,75%,max
código órgão superior,133191.0,31980.689386,10477.360150,20000.0,25000.0,26000.0,39000.0,81000.0
código órgão,131202.0,31457.175340,10274.244983,20101.0,25000.0,26285.0,36000.0,90000.0
código unidade gestora,130352.0,238690.054506,151288.080629,110005.0,154044.0,170013.0,253002.0,873001.0
ano exercício,100945.0,2021.000000,0.000000,2021.0,2021.0,2021.0,2021.0,2021.0