In [1]:
import pandas as pd
import numpy as np
from datetime import datetime

In [2]:
df_13= pd.read_csv("datos/datos-2013.csv", sep= ";")
pd.set_option("display.max_columns", None)
df_14= pd.read_csv("datos/datos-2014.csv", sep= ";")
pd.set_option("display.max_columns", None)
df_15= pd.read_csv("datos/datos-2015.csv", sep= ";")
pd.set_option("display.max_columns", None)
df_16= pd.read_csv("datos/datos-2016.csv", sep= ";")
pd.set_option("display.max_columns", None)
df_17= pd.read_csv("datos/datos-2017.csv", sep= ";")
pd.set_option("display.max_columns", None)
df_18= pd.read_csv("datos/datos-2018.csv", sep= ";")
pd.set_option("display.max_columns", None)
df_19= pd.read_csv("datos/datos-2019.csv", sep= ";")
pd.set_option("display.max_columns", None)
df_20= pd.read_csv("datos/datos-2020.csv", sep= ";")
pd.set_option("display.max_columns", None)
df_21= pd.read_csv("datos/datos-2021.csv", sep= ";")
pd.set_option("display.max_columns", None)
#Falta abrir el diccionario de datos

In [3]:
df_dicc= pd.read_csv("datos/diccionario_datos.csv", sep= ";;", encoding= "latin-1")
pd.set_option("display.max_columns", None)

C:\Users\jaime\AppData\Local\Temp\ipykernel_24484\3123453317.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df_dicc= pd.read_csv("datos/diccionario_datos.csv", sep= ";;", encoding= "latin-1")

In [4]:
df_dicc.head()

                  COLUNA                                         DESCRIÇÃO;
0                    NaN                                                  ;
1  Código Órgão Superior  Código do Órgão Superior responsável pela rece...
2                    NaN                                                  ;
3                    NaN  Nome do Órgão Superior responsável pela receita.;
4    Nome Órgão Superior                                                  ;

In [ ]:
df_13.columns = [name.lower().strip() for name in df_13.columns]                        
df_14.columns = [name.lower().strip() for name in df_14.columns] 
df_15.columns = [name.lower().strip() for name in df_15.columns] 
df_16.columns = [name.lower().strip() for name in df_16.columns] 
df_17.columns = [name.lower().strip() for name in df_17.columns] 
df_18.columns = [name.lower().strip() for name in df_18.columns] 
df_19.columns = [name.lower().strip() for name in df_19.columns] 
df_20.columns = [name.lower().strip() for name in df_20.columns] 
df_21.columns = [name.lower().strip() for name in df_21.columns] #Cambios de nombre en todas las columnas de todos los df

***Comprobación de que tengan las mismas columnas***

In [ ]:
df_13.columns.tolist()

['código órgão superior',
 'nome órgão superior',
 'código órgão',
 'nome órgão',
 'código unidade gestora',
 'nome unidade gestora',
 'categoria econômica',
 'origem receita',
 'espécie receita',
 'detalhamento',
 'valor previsto atualizado',
 'valor lançado',
 'valor realizado',
 'percentual realizado',
 'data lançamento',
 'ano exercício']

In [ ]:
df_13.columns.tolist() == df_14.columns.tolist() ==df_15.columns.tolist() == df_16.columns.tolist() == df_17.columns.tolist() == df_18.columns.tolist() == df_19.columns.tolist() == df_20.columns.tolist() == df_21.columns.tolist()

True

**COSAS PARA REPETIR EN TODAS**

In [5]:

df_13['nome órgão superior'] = df_13.groupby('código órgão superior')['nome órgão superior'].transform(lambda x: x.fillna(method='ffill'))
df_13['nome órgão superior'].info() #Columna codigo y nombre


df_13["data lançamento"] = pd.to_datetime(df_13["data lançamento"]) 
df_13["data lançamento"]  #cambio a fecha

df_13["valor realizado"]= df_13["valor realizado"].str.replace(",",".")
df_13["valor realizado"] = list(map(float, df_13["valor realizado"]))
df_13["valor lançado"]= df_13["valor lançado"].str.replace(",",".")
df_13["valor lançado"] = list(map(float, df_13["valor lançado"]))
df_13["valor previsto atualizado"]= df_13["valor previsto atualizado"].str.replace(",",".")
df_13["valor previsto atualizado"] = list(map(float, df_13["valor previsto atualizado"]))
df_13["percentual realizado"]= df_13["percentual realizado"].str.replace(",",".")
df_13["percentual realizado"] = list(map(float, df_13["percentual realizado"]))    #cambio a float

<class 'pandas.core.series.Series'>
RangeIndex: 4498 entries, 0 to 4497
Series name: nome órgão superior
Non-Null Count  Dtype
--------------  -----
4263 non-null   object
dtypes: object(1)
memory usage: 35.3+ KB

C:\Users\jaime\AppData\Local\Temp\ipykernel_24484\2156528642.py:14: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_13['nome órgão superior'] = df_13.groupby('código órgão superior')['nome órgão superior'].transform(lambda x: x.fillna(method='ffill'))
C:\Users\jaime\AppData\Local\Temp\ipykernel_24484\2156528642.py:14: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_13['nome órgão superior'] = df_13.groupby('código órgão superior')['nome órgão superior'].transform(lambda x: x.fillna(method='ffill'))
C:\Users\jaime\AppData\Local\Temp\ipykernel_24484\2156528642.py:18: UserWarning: Parsing dates in %d/%m/%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df_13["data lançamento"] = pd.to_datetime(df_13["data lançamento"])

In [6]:
df_14.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4553 entries, 0 to 4552
Data columns (total 16 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   código órgão superior      4331 non-null   float64
 1   nome órgão superior        2959 non-null   object
 2   código órgão               4493 non-null   float64
 3   nome órgão                 4439 non-null   object
 4   código unidade gestora     4332 non-null   float64
 5   nome unidade gestora       4392 non-null   object
 6   categoria econômica        4502 non-null   object
 7   origem receita             4487 non-null   object
 8   espécie receita            4455 non-null   object
 9   detalhamento               4506 non-null   object
 10  valor previsto atualizado  4325 non-null   object
 11  valor lançado              4375 non-null   object
 12  valor realizado            4328 non-null   object
 13  percentual realizado       4437 non-null   object
 14  data lançamento            4411 non-null   object
 15  ano exercício              3415 non-null   float64
dtypes: float64(4), object(12)
memory usage: 569.3+ KB

In [7]:
df_14['nome órgão superior'] = df_14.groupby('código órgão superior')['nome órgão superior'].transform(lambda x: x.fillna(method='ffill'))
df_14['nome órgão superior'].info() #Columna codigo y nombre


df_14["data lançamento"] = pd.to_datetime(df_14["data lançamento"]) 
df_14["data lançamento"]  #cambio a fecha

df_14["valor realizado"]= df_14["valor realizado"].str.replace(",",".")
df_14["valor realizado"] = list(map(float, df_14["valor realizado"]))
df_14["valor lançado"]= df_14["valor lançado"].str.replace(",",".")
df_14["valor lançado"] = list(map(float, df_14["valor lançado"]))
df_14["valor previsto atualizado"]= df_14["valor previsto atualizado"].str.replace(",",".")
df_14["valor previsto atualizado"] = list(map(float, df_14["valor previsto atualizado"]))
df_14["percentual realizado"]= df_14["percentual realizado"].str.replace(",",".")
df_14["percentual realizado"] = list(map(float, df_14["percentual realizado"]))    #cambio a float

C:\Users\jaime\AppData\Local\Temp\ipykernel_24484\2339529443.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_14['nome órgão superior'] = df_14.groupby('código órgão superior')['nome órgão superior'].transform(lambda x: x.fillna(method='ffill'))
C:\Users\jaime\AppData\Local\Temp\ipykernel_24484\2339529443.py:5: UserWarning: Parsing dates in %d/%m/%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df_14["data lançamento"] = pd.to_datetime(df_14["data lançamento"])

<class 'pandas.core.series.Series'>
RangeIndex: 4553 entries, 0 to 4552
Series name: nome órgão superior
Non-Null Count  Dtype
--------------  -----
4325 non-null   object
dtypes: object(1)
memory usage: 35.7+ KB

In [8]:
df_14.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4553 entries, 0 to 4552
Data columns (total 16 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   código órgão superior      4331 non-null   float64
 1   nome órgão superior        4325 non-null   object
 2   código órgão               4493 non-null   float64
 3   nome órgão                 4439 non-null   object
 4   código unidade gestora     4332 non-null   float64
 5   nome unidade gestora       4392 non-null   object
 6   categoria econômica        4502 non-null   object
 7   origem receita             4487 non-null   object
 8   espécie receita            4455 non-null   object
 9   detalhamento               4506 non-null   object
 10  valor previsto atualizado  4325 non-null   float64
 11  valor lançado              4375 non-null   float64
 12  valor realizado            4328 non-null   float64
 13  percentual realizado       4437 non-null   float64
 14  data lançamento            4411 non-null   datetime64[ns]
 15  ano exercício              3415 non-null   float64
dtypes: datetime64[ns](1), float64(8), object(7)
memory usage: 569.3+ KB

In [9]:
df_15.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4523 entries, 0 to 4522
Data columns (total 16 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   código órgão superior      4324 non-null   float64
 1   nome órgão superior        2940 non-null   object
 2   código órgão               4351 non-null   float64
 3   nome órgão                 4361 non-null   object
 4   código unidade gestora     4326 non-null   float64
 5   nome unidade gestora       4449 non-null   object
 6   categoria econômica        4463 non-null   object
 7   origem receita             4346 non-null   object
 8   espécie receita            4320 non-null   object
 9   detalhamento               4393 non-null   object
 10  valor previsto atualizado  4297 non-null   object
 11  valor lançado              4381 non-null   object
 12  valor realizado            4351 non-null   object
 13  percentual realizado       4322 non-null   object
 14  data lançamento            4398 non-null   object
 15  ano exercício              3392 non-null   float64
dtypes: float64(4), object(12)
memory usage: 565.5+ KB

In [10]:
df_15['nome órgão superior'] = df_15.groupby('código órgão superior')['nome órgão superior'].transform(lambda x: x.fillna(method='ffill'))
df_15['nome órgão superior'].info() #Columna codigo y nombre


df_15["data lançamento"] = pd.to_datetime(df_15["data lançamento"]) 
df_15["data lançamento"]  #cambio a fecha

df_15["valor realizado"]= df_15["valor realizado"].str.replace(",",".")
df_15["valor realizado"] = list(map(float, df_15["valor realizado"]))
df_15["valor lançado"]= df_15["valor lançado"].str.replace(",",".")
df_15["valor lançado"] = list(map(float, df_15["valor lançado"]))
df_15["valor previsto atualizado"]= df_15["valor previsto atualizado"].str.replace(",",".")
df_15["valor previsto atualizado"] = list(map(float, df_15["valor previsto atualizado"]))
df_15["percentual realizado"]= df_15["percentual realizado"].str.replace(",",".")
df_15["percentual realizado"] = list(map(float, df_15["percentual realizado"]))    #cambio a float

C:\Users\jaime\AppData\Local\Temp\ipykernel_24484\192372322.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_15['nome órgão superior'] = df_15.groupby('código órgão superior')['nome órgão superior'].transform(lambda x: x.fillna(method='ffill'))
C:\Users\jaime\AppData\Local\Temp\ipykernel_24484\192372322.py:5: UserWarning: Parsing dates in %d/%m/%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df_15["data lançamento"] = pd.to_datetime(df_15["data lançamento"])

<class 'pandas.core.series.Series'>
RangeIndex: 4523 entries, 0 to 4522
Series name: nome órgão superior
Non-Null Count  Dtype
--------------  -----
4308 non-null   object
dtypes: object(1)
memory usage: 35.5+ KB

In [11]:
df_15.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4523 entries, 0 to 4522
Data columns (total 16 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   código órgão superior      4324 non-null   float64
 1   nome órgão superior        4308 non-null   object
 2   código órgão               4351 non-null   float64
 3   nome órgão                 4361 non-null   object
 4   código unidade gestora     4326 non-null   float64
 5   nome unidade gestora       4449 non-null   object
 6   categoria econômica        4463 non-null   object
 7   origem receita             4346 non-null   object
 8   espécie receita            4320 non-null   object
 9   detalhamento               4393 non-null   object
 10  valor previsto atualizado  4297 non-null   float64
 11  valor lançado              4381 non-null   float64
 12  valor realizado            4351 non-null   float64
 13  percentual realizado       4322 non-null   float64
 14  data lançamento            4398 non-null   datetime64[ns]
 15  ano exercício              3392 non-null   float64
dtypes: datetime64[ns](1), float64(8), object(7)
memory usage: 565.5+ KB

In [12]:
df_16.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 194533 entries, 0 to 194532
Data columns (total 16 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   código órgão superior      190214 non-null  float64
 1   nome órgão superior        126446 non-null  object
 2   código órgão               190506 non-null  float64
 3   nome órgão                 191144 non-null  object
 4   código unidade gestora     185211 non-null  float64
 5   nome unidade gestora       191552 non-null  object
 6   categoria econômica        192399 non-null  object
 7   origem receita             186042 non-null  object
 8   espécie receita            190129 non-null  object
 9   detalhamento               186707 non-null  object
 10  valor previsto atualizado  184806 non-null  object
 11  valor lançado              188960 non-null  object
 12  valor realizado            188766 non-null  object
 13  percentual realizado       192008 non-null  object
 14  data lançamento            192088 non-null  object
 15  ano exercício              145900 non-null  float64
dtypes: float64(4), object(12)
memory usage: 23.7+ MB

In [13]:
df_16['nome órgão superior'] = df_16.groupby('código órgão superior')['nome órgão superior'].transform(lambda x: x.fillna(method='ffill'))
df_16['nome órgão superior'].info() #Columna codigo y nombre


df_16["data lançamento"] = pd.to_datetime(df_16["data lançamento"], format="%d/%m/%Y")   #He tenido que especificar que venía en otro formato distinto.
df_16["data lançamento"]  #cambio a fecha

df_16["valor realizado"]= df_16["valor realizado"].str.replace(",",".")
df_16["valor realizado"] = list(map(float, df_16["valor realizado"]))
df_16["valor lançado"]= df_16["valor lançado"].str.replace(",",".")
df_16["valor lançado"] = list(map(float, df_16["valor lançado"]))
df_16["valor previsto atualizado"]= df_16["valor previsto atualizado"].str.replace(",",".")
df_16["valor previsto atualizado"] = list(map(float, df_16["valor previsto atualizado"]))
df_16["percentual realizado"]= df_16["percentual realizado"].str.replace(",",".")
df_16["percentual realizado"] = list(map(float, df_16["percentual realizado"]))    #cambio a float

C:\Users\jaime\AppData\Local\Temp\ipykernel_24484\3871943138.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_16['nome órgão superior'] = df_16.groupby('código órgão superior')['nome órgão superior'].transform(lambda x: x.fillna(method='ffill'))

<class 'pandas.core.series.Series'>
RangeIndex: 194533 entries, 0 to 194532
Series name: nome órgão superior
Non-Null Count   Dtype
--------------   -----
190203 non-null  object
dtypes: object(1)
memory usage: 1.5+ MB

In [14]:
df_16.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 194533 entries, 0 to 194532
Data columns (total 16 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   código órgão superior      190214 non-null  float64
 1   nome órgão superior        190203 non-null  object
 2   código órgão               190506 non-null  float64
 3   nome órgão                 191144 non-null  object
 4   código unidade gestora     185211 non-null  float64
 5   nome unidade gestora       191552 non-null  object
 6   categoria econômica        192399 non-null  object
 7   origem receita             186042 non-null  object
 8   espécie receita            190129 non-null  object
 9   detalhamento               186707 non-null  object
 10  valor previsto atualizado  184806 non-null  float64
 11  valor lançado              188960 non-null  float64
 12  valor realizado            188766 non-null  float64
 13  percentual realizado       192008 non-null  float64
 14  data lançamento            192088 non-null  datetime64[ns]
 15  ano exercício              145900 non-null  float64
dtypes: datetime64[ns](1), float64(8), object(7)
memory usage: 23.7+ MB

In [15]:
df_17['nome órgão superior'] = df_17.groupby('código órgão superior')['nome órgão superior'].transform(lambda x: x.fillna(method='ffill'))
df_17['nome órgão superior'].info() #Columna codigo y nombre


df_17["data lançamento"] = pd.to_datetime(df_17["data lançamento"]) 
df_17["data lançamento"]  #cambio a fecha

df_17["valor realizado"]= df_17["valor realizado"].str.replace(",",".")
df_17["valor realizado"] = list(map(float, df_17["valor realizado"]))
df_17["valor lançado"]= df_17["valor lançado"].str.replace(",",".")
df_17["valor lançado"] = list(map(float, df_17["valor lançado"]))
df_17["valor previsto atualizado"]= df_17["valor previsto atualizado"].str.replace(",",".")
df_17["valor previsto atualizado"] = list(map(float, df_17["valor previsto atualizado"]))
df_17["percentual realizado"]= df_17["percentual realizado"].str.replace(",",".")
df_17["percentual realizado"] = list(map(float, df_17["percentual realizado"]))    #cambio a float

C:\Users\jaime\AppData\Local\Temp\ipykernel_24484\4205365010.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_17['nome órgão superior'] = df_17.groupby('código órgão superior')['nome órgão superior'].transform(lambda x: x.fillna(method='ffill'))

<class 'pandas.core.series.Series'>
RangeIndex: 190479 entries, 0 to 190478
Series name: nome órgão superior
Non-Null Count   Dtype
--------------   -----
185979 non-null  object
dtypes: object(1)
memory usage: 1.5+ MB

C:\Users\jaime\AppData\Local\Temp\ipykernel_24484\4205365010.py:5: UserWarning: Parsing dates in %d/%m/%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df_17["data lançamento"] = pd.to_datetime(df_17["data lançamento"])

In [18]:
df_17.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 190479 entries, 0 to 190478
Data columns (total 16 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   código órgão superior      185999 non-null  float64
 1   nome órgão superior        185979 non-null  object
 2   código órgão               188418 non-null  float64
 3   nome órgão                 185457 non-null  object
 4   código unidade gestora     186949 non-null  float64
 5   nome unidade gestora       188076 non-null  object
 6   categoria econômica        187950 non-null  object
 7   origem receita             181808 non-null  object
 8   espécie receita            181798 non-null  object
 9   detalhamento               186726 non-null  object
 10  valor previsto atualizado  180955 non-null  float64
 11  valor lançado              182124 non-null  float64
 12  valor realizado            182807 non-null  float64
 13  percentual realizado       186281 non-null  float64
 14  data lançamento            183488 non-null  datetime64[ns]
 15  ano exercício              142859 non-null  float64
dtypes: datetime64[ns](1), float64(8), object(7)
memory usage: 23.3+ MB

In [16]:
df_18['nome órgão superior'] = df_18.groupby('código órgão superior')['nome órgão superior'].transform(lambda x: x.fillna(method='ffill'))
df_18['nome órgão superior'].info() #Columna codigo y nombre


df_18["data lançamento"] = pd.to_datetime(df_18["data lançamento"]) 
df_18["data lançamento"]  #cambio a fecha

df_18["valor realizado"]= df_18["valor realizado"].str.replace(",",".")
df_18["valor realizado"] = list(map(float, df_18["valor realizado"]))
df_18["valor lançado"]= df_18["valor lançado"].str.replace(",",".")
df_18["valor lançado"] = list(map(float, df_18["valor lançado"]))
df_18["valor previsto atualizado"]= df_18["valor previsto atualizado"].str.replace(",",".")
df_18["valor previsto atualizado"] = list(map(float, df_18["valor previsto atualizado"]))
df_18["percentual realizado"]= df_18["percentual realizado"].str.replace(",",".")
df_18["percentual realizado"] = list(map(float, df_18["percentual realizado"]))    #cambio a float

C:\Users\jaime\AppData\Local\Temp\ipykernel_24484\1489711203.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_18['nome órgão superior'] = df_18.groupby('código órgão superior')['nome órgão superior'].transform(lambda x: x.fillna(method='ffill'))
C:\Users\jaime\AppData\Local\Temp\ipykernel_24484\1489711203.py:1: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_18['nome órgão superior'] = df_18.groupby('código órgão superior')['nome órgão superior'].transform(lambda x: x.fillna(method='ffill'))
C:\Users\jaime\AppData\Local\Temp\ipykernel_24484\1489711203.py:5: UserWarning: Parsing dates in %d/%m/%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df_18["data lançamento"] = pd.to_datetime(df_18["data lançamento"])

<class 'pandas.core.series.Series'>
RangeIndex: 173944 entries, 0 to 173943
Series name: nome órgão superior
Non-Null Count   Dtype
--------------   -----
165679 non-null  object
dtypes: object(1)
memory usage: 1.3+ MB

In [19]:
df_18.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 173944 entries, 0 to 173943
Data columns (total 16 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   código órgão superior      165690 non-null  float64
 1   nome órgão superior        165679 non-null  object
 2   código órgão               168716 non-null  float64
 3   nome órgão                 166611 non-null  object
 4   código unidade gestora     166913 non-null  float64
 5   nome unidade gestora       171411 non-null  object
 6   categoria econômica        170516 non-null  object
 7   origem receita             168037 non-null  object
 8   espécie receita            166386 non-null  object
 9   detalhamento               167435 non-null  object
 10  valor previsto atualizado  165247 non-null  float64
 11  valor lançado              170168 non-null  float64
 12  valor realizado            165640 non-null  float64
 13  percentual realizado       171264 non-null  float64
 14  data lançamento            169298 non-null  datetime64[ns]
 15  ano exercício              130458 non-null  float64
dtypes: datetime64[ns](1), float64(8), object(7)
memory usage: 21.2+ MB

In [20]:
df_19.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 176828 entries, 0 to 176827
Data columns (total 16 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   código órgão superior      170865 non-null  float64
 1   nome órgão superior        170857 non-null  object
 2   código órgão               173643 non-null  float64
 3   nome órgão                 169862 non-null  object
 4   código unidade gestora     171547 non-null  float64
 5   nome unidade gestora       174840 non-null  object
 6   categoria econômica        174890 non-null  object
 7   origem receita             168623 non-null  object
 8   espécie receita            172708 non-null  object
 9   detalhamento               172006 non-null  object
 10  valor previsto atualizado  167987 non-null  object
 11  valor lançado              172190 non-null  object
 12  valor realizado            169191 non-null  object
 13  percentual realizado       170075 non-null  object
 14  data lançamento            173914 non-null  object
 15  ano exercício              132621 non-null  float64
dtypes: float64(4), object(12)
memory usage: 21.6+ MB

In [21]:
df_19['nome órgão superior'] = df_19.groupby('código órgão superior')['nome órgão superior'].transform(lambda x: x.fillna(method='ffill'))
df_19['nome órgão superior'].info() #Columna codigo y nombre


df_19["data lançamento"] = pd.to_datetime(df_19["data lançamento"], format="%d/%m/%Y")
df_19["data lançamento"]  #cambio a fecha

df_19["valor realizado"]= df_19["valor realizado"].str.replace(",",".")
df_19["valor realizado"] = list(map(float, df_19["valor realizado"]))
df_19["valor lançado"]= df_19["valor lançado"].str.replace(",",".")
df_19["valor lançado"] = list(map(float, df_19["valor lançado"]))
df_19["valor previsto atualizado"]= df_19["valor previsto atualizado"].str.replace(",",".")
df_19["valor previsto atualizado"] = list(map(float, df_19["valor previsto atualizado"]))
df_19["percentual realizado"]= df_19["percentual realizado"].str.replace(",",".")
df_19["percentual realizado"] = list(map(float, df_19["percentual realizado"]))    #cambio a float

C:\Users\jaime\AppData\Local\Temp\ipykernel_24484\1939501729.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_19['nome órgão superior'] = df_19.groupby('código órgão superior')['nome órgão superior'].transform(lambda x: x.fillna(method='ffill'))
C:\Users\jaime\AppData\Local\Temp\ipykernel_24484\1939501729.py:1: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_19['nome órgão superior'] = df_19.groupby('código órgão superior')['nome órgão superior'].transform(lambda x: x.fillna(method='ffill'))

<class 'pandas.core.series.Series'>
RangeIndex: 176828 entries, 0 to 176827
Series name: nome órgão superior
Non-Null Count   Dtype
--------------   -----
170857 non-null  object
dtypes: object(1)
memory usage: 1.3+ MB

In [22]:
df_19.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 176828 entries, 0 to 176827
Data columns (total 16 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   código órgão superior      170865 non-null  float64
 1   nome órgão superior        170857 non-null  object
 2   código órgão               173643 non-null  float64
 3   nome órgão                 169862 non-null  object
 4   código unidade gestora     171547 non-null  float64
 5   nome unidade gestora       174840 non-null  object
 6   categoria econômica        174890 non-null  object
 7   origem receita             168623 non-null  object
 8   espécie receita            172708 non-null  object
 9   detalhamento               172006 non-null  object
 10  valor previsto atualizado  167987 non-null  float64
 11  valor lançado              172190 non-null  float64
 12  valor realizado            169191 non-null  float64
 13  percentual realizado       170075 non-null  float64
 14  data lançamento            173914 non-null  datetime64[ns]
 15  ano exercício              132621 non-null  float64
dtypes: datetime64[ns](1), float64(8), object(7)
memory usage: 21.6+ MB

In [23]:
df_20['nome órgão superior'] = df_20.groupby('código órgão superior')['nome órgão superior'].transform(lambda x: x.fillna(method='ffill'))
df_20['nome órgão superior'].info() #Columna codigo y nombre


df_20["data lançamento"] = pd.to_datetime(df_20["data lançamento"]) 
df_20["data lançamento"]  #cambio a fecha

df_20["valor realizado"]= df_20["valor realizado"].str.replace(",",".")
df_20["valor realizado"] = list(map(float, df_20["valor realizado"]))
df_20["valor lançado"]= df_20["valor lançado"].str.replace(",",".")
df_20["valor lançado"] = list(map(float, df_20["valor lançado"]))
df_20["valor previsto atualizado"]= df_20["valor previsto atualizado"].str.replace(",",".")
df_20["valor previsto atualizado"] = list(map(float, df_20["valor previsto atualizado"]))
df_20["percentual realizado"]= df_20["percentual realizado"].str.replace(",",".")
df_20["percentual realizado"] = list(map(float, df_20["percentual realizado"]))    #cambio a float

C:\Users\jaime\AppData\Local\Temp\ipykernel_24484\667092361.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_20['nome órgão superior'] = df_20.groupby('código órgão superior')['nome órgão superior'].transform(lambda x: x.fillna(method='ffill'))
C:\Users\jaime\AppData\Local\Temp\ipykernel_24484\667092361.py:1: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_20['nome órgão superior'] = df_20.groupby('código órgão superior')['nome órgão superior'].transform(lambda x: x.fillna(method='ffill'))
C:\Users\jaime\AppData\Local\Temp\ipykernel_24484\667092361.py:5: UserWarning: Parsing dates in %d/%m/%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df_20["data lançamento"] = pd.to_datetime(df_20["data lançamento"])

<class 'pandas.core.series.Series'>
RangeIndex: 142348 entries, 0 to 142347
Series name: nome órgão superior
Non-Null Count   Dtype
--------------   -----
137034 non-null  object
dtypes: object(1)
memory usage: 1.1+ MB

In [24]:
df_20.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 142348 entries, 0 to 142347
Data columns (total 16 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   código órgão superior      137044 non-null  float64
 1   nome órgão superior        137034 non-null  object
 2   código órgão               135491 non-null  float64
 3   nome órgão                 135255 non-null  object
 4   código unidade gestora     138764 non-null  float64
 5   nome unidade gestora       139702 non-null  object
 6   categoria econômica        136452 non-null  object
 7   origem receita             138019 non-null  object
 8   espécie receita            137467 non-null  object
 9   detalhamento               138373 non-null  object
 10  valor previsto atualizado  135231 non-null  float64
 11  valor lançado              140252 non-null  float64
 12  valor realizado            138063 non-null  float64
 13  percentual realizado       140314 non-null  float64
 14  data lançamento            139954 non-null  datetime64[ns]
 15  ano exercício              106761 non-null  float64
dtypes: datetime64[ns](1), float64(8), object(7)
memory usage: 17.4+ MB

In [25]:



df_21['nome órgão superior'] = df_21.groupby('código órgão superior')['nome órgão superior'].transform(lambda x: x.fillna(method='ffill'))
df_21['nome órgão superior'].info() #Columna codigo y nombre


df_21["data lançamento"] = pd.to_datetime(df_21["data lançamento"]) 
df_21["data lançamento"]  #cambio a fecha

df_21["valor realizado"]= df_21["valor realizado"].str.replace(",",".")
df_21["valor realizado"] = list(map(float, df_21["valor realizado"]))
df_21["valor lançado"]= df_21["valor lançado"].str.replace(",",".")
df_21["valor lançado"] = list(map(float, df_21["valor lançado"]))
df_21["valor previsto atualizado"]= df_21["valor previsto atualizado"].str.replace(",",".")
df_21["valor previsto atualizado"] = list(map(float, df_21["valor previsto atualizado"]))
df_21["percentual realizado"]= df_21["percentual realizado"].str.replace(",",".")
df_21["percentual realizado"] = list(map(float, df_21["percentual realizado"]))    #cambio a float

C:\Users\jaime\AppData\Local\Temp\ipykernel_24484\3239938643.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_21['nome órgão superior'] = df_21.groupby('código órgão superior')['nome órgão superior'].transform(lambda x: x.fillna(method='ffill'))

<class 'pandas.core.series.Series'>
RangeIndex: 134593 entries, 0 to 134592
Series name: nome órgão superior
Non-Null Count   Dtype
--------------   -----
133186 non-null  object
dtypes: object(1)
memory usage: 1.0+ MB

C:\Users\jaime\AppData\Local\Temp\ipykernel_24484\3239938643.py:5: UserWarning: Parsing dates in %d/%m/%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df_21["data lançamento"] = pd.to_datetime(df_21["data lançamento"])

In [26]:
df_21.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 134593 entries, 0 to 134592
Data columns (total 16 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   código órgão superior      133191 non-null  float64
 1   nome órgão superior        133186 non-null  object
 2   código órgão               131202 non-null  float64
 3   nome órgão                 129997 non-null  object
 4   código unidade gestora     130352 non-null  float64
 5   nome unidade gestora       128118 non-null  object
 6   categoria econômica        131846 non-null  object
 7   origem receita             132106 non-null  object
 8   espécie receita            132754 non-null  object
 9   detalhamento               132439 non-null  object
 10  valor previsto atualizado  127863 non-null  float64
 11  valor lançado              133148 non-null  float64
 12  valor realizado            129379 non-null  float64
 13  percentual realizado       129104 non-null  float64
 14  data lançamento            130519 non-null  datetime64[ns]
 15  ano exercício              100945 non-null  float64
dtypes: datetime64[ns](1), float64(8), object(7)
memory usage: 16.4+ MB

*Para rellenar el año que falta porque pone nan*

In [29]:
listadf= [df_13,df_14,df_15,df_16,df_17,df_18,df_19,df_20,df_21]
lista_anio= [2013,2014,2015,2016,2016,2017,2018,2019,2020,2021]
def fillyear(df, year):
    df["ano exercício"] = df["ano exercício"].fillna(year)
    return df

In [30]:
listadf_aniosbien = list(map(fillyear, listadf, lista_anio))

In [33]:
df_19.info()    #Comprobación de que hemos acabado con los nulos en año lanzamiento y reducido los nulos de nombre órgano superior

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 176828 entries, 0 to 176827
Data columns (total 16 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   código órgão superior      170865 non-null  float64
 1   nome órgão superior        170857 non-null  object
 2   código órgão               173643 non-null  float64
 3   nome órgão                 169862 non-null  object
 4   código unidade gestora     171547 non-null  float64
 5   nome unidade gestora       174840 non-null  object
 6   categoria econômica        174890 non-null  object
 7   origem receita             168623 non-null  object
 8   espécie receita            172708 non-null  object
 9   detalhamento               172006 non-null  object
 10  valor previsto atualizado  167987 non-null  float64
 11  valor lançado              172190 non-null  float64
 12  valor realizado            169191 non-null  float64
 13  percentual realizado       170075 non-null  float64
 14  data lançamento            173914 non-null  datetime64[ns]
 15  ano exercício              176828 non-null  float64
dtypes: datetime64[ns](1), float64(8), object(7)
memory usage: 21.6+ MB

**Mergeo**

In [19]:
df_completa = pd.concat(listadf_aniosbien).reset_index(drop= True)

In [20]:
df_completa.shape

(1026299, 16)

In [21]:
df_completa.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1026299 entries, 0 to 1026298
Data columns (total 16 columns):
 #   Column                     Non-Null Count    Dtype
---  ------                     --------------    -----
 0   código órgão superior      995940 non-null   float64
 1   nome órgão superior        668432 non-null   object
 2   código órgão               1001182 non-null  float64
 3   nome órgão                 991412 non-null   object
 4   código unidade gestora     992718 non-null   float64
 5   nome unidade gestora       1006818 non-null  object
 6   categoria econômica        1007321 non-null  object
 7   origem receita             987881 non-null   object
 8   espécie receita            994372 non-null   object
 9   detalhamento               996962 non-null   object
 10  valor previsto atualizado  974984 non-null   object
 11  valor lançado              999880 non-null   object
 12  valor realizado            986834 non-null   object
 13  percentual realizado       1002165 non-null  object
 14  data lançamento            1002468 non-null  object
 15  ano exercício              1026299 non-null  float64
dtypes: float64(4), object(12)
memory usage: 125.3+ MB

**Duplicados para eliminar**

In [63]:
df_completa.duplicated().sum()     #Hay 73 duplicadas que habrá que eliminar

np.int64(73)

In [65]:
df_completa = df_completa.drop_duplicates()
df_completa.duplicated().sum()

np.int64(0)

In [34]:
df_13.head(3)    #el primer nan no soy capaz de eliminarlo pero como los he reducido bastante me doy con un canto en los dientes
                 #aunque creo que se podría utilizar el código de organización para rellenar los que quedan.

,código órgão superior,nome órgão superior,código órgão,nome órgão,código unidade gestora,nome unidade gestora,categoria econômica,origem receita,espécie receita,detalhamento,valor previsto atualizado,valor lançado,valor realizado,percentual realizado,data lançamento,ano exercício
0,63000.0,NaN,63000.0,Advocacia-Geral da União - Unidades com víncul...,110060.0,COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU,Receitas Correntes,Outras Receitas Correntes,"Bens, Direitos e Valores Incorporados ao Patr",REC.DIVIDA ATIVA NAO TRIBUTARIA DE OUTRAS REC,0.0,0.0,1297.13,0.0,2013-12-31,2013.0
1,63000.0,Advocacia-Geral da União,63000.0,Advocacia-Geral da União - Unidades com víncul...,110060.0,COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU,Receitas Correntes,Outras Receitas Correntes,"Indenizações, restituições e ressarcimentos",RECUPERACAO DE DESPESAS DE EXERC. ANTERIORES,0.0,0.0,26666621.42,0.0,2013-12-31,2013.0
2,63000.0,Advocacia-Geral da União,63000.0,Advocacia-Geral da União - Unidades com víncul...,110060.0,COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU,Receitas Correntes,Outras Receitas Correntes,"Multas administrativas, contratuais e judicia",OUTRAS MULTAS E JUROS DE MORA,0.0,0.0,301251.13,0.0,2013-12-31,2013.0

In [65]:
df_13.sample(3)

,código órgão superior,nome órgão superior,código órgão,nome órgão,código unidade gestora,nome unidade gestora,categoria econômica,origem receita,espécie receita,detalhamento,valor previsto atualizado,valor lançado,valor realizado,percentual realizado,data lançamento,ano exercício
4025,53000.0,Ministério do Desenvolvimento Regional,53902.0,Fundo Constitucional de Financiamento do Centr...,537003.0,NaN,Receitas Correntes,Outras Receitas Correntes,"Multas administrativas, contratuais e judicia",REC. MULTA E JUROS MORA IMP PROD IND - IPI,1603207.0,0.0,0.00,0.0,2013-12-31,2013.0
2202,26000.0,Ministério da Educação,26244.0,Universidade Federal do Rio Grande do Sul,153114.0,NaN,Receitas Correntes - intra-orçamentárias,Receita de Serviços,Receita de Serviços,SERVICOS DE TECNOLOGIA,0.0,0.0,1143135.19,0.0,2013-12-31,2013.0
3592,36000.0,Ministério da Saúde,36201.0,Fundação Oswaldo Cruz,254420.0,FUNDACAO OSWALDO CRUZ,Receitas Correntes,Receita de Serviços,Receita de Serviços,SERVICOS DE TECNOLOGIA,783980.0,0.0,497090.82,63.0,2013-12-31,2013.0

**Describes**

In [67]:
df_13.describe(include ="O").T

,count,unique,top,freq
nome órgão superior,4263,24,Ministério da Educação,1752
nome órgão,4286,264,Ministério da Economia - Unidades com vínculo ...,476
nome unidade gestora,4278,279,SETORIAL ORCAMENTARIA E FINANCEIRA / ME,392
categoria econômica,4303,4,Receitas Correntes,3829
origem receita,4413,15,Outras Receitas Correntes,1945
espécie receita,4355,44,Receita de Serviços,955
detalhamento,4377,694,RECUPERACAO DE DESPESAS DE EXERC. ANTERIORES,210

In [68]:
df_13.describe().T

,count,mean,min,25%,50%,75%,max,std
código órgão superior,4282.0,31739.60766,20000.0,25000.0,26000.0,36000.0,81000.0,10692.607398
código órgão,4362.0,31484.209995,20101.0,26000.0,26292.0,35000.0,91214.0,10810.318732
código unidade gestora,4324.0,232766.252775,110005.0,153978.0,160075.0,253003.0,913001.0,141238.719759
valor previsto atualizado,4273.0,498180092.502467,0.0,0.0,23428.0,1043267.0,610065700590.0,10519744250.78565
valor lançado,4282.0,265722648.433828,0.0,0.0,0.0,0.0,295606275807.679993,6212270728.869926
valor realizado,4309.0,386036258.037721,-276398836.04,505.69,48211.14,978909.54,413786247189.789978,7247324154.900342
percentual realizado,4360.0,1025.67156,-201.0,0.0,0.0,98.25,1605449.0,26471.314837
data lançamento,4398,2013-12-31 00:00:00,2013-12-31 00:00:00,2013-12-31 00:00:00,2013-12-31 00:00:00,2013-12-31 00:00:00,2013-12-31 00:00:00,NaN
ano exercício,4498.0,2013.0,2013.0,2013.0,2013.0,2013.0,2013.0,0.0

In [75]:
df_14.describe().T                          #como va a haber porcentajes negativos

,count,mean,min,25%,50%,75%,max,std
código órgão superior,4331.0,31847.841145,20000.0,25000.0,26000.0,36000.0,81000.0,10813.244886
código órgão,4493.0,31818.443356,20101.0,26000.0,26298.0,36201.0,91214.0,11143.198081
código unidade gestora,4332.0,236574.978532,110005.0,153167.0,160075.0,255000.0,913001.0,145862.242362
valor previsto atualizado,4325.0,539445992.952192,0.0,0.0,17890.0,1281585.0,654746947069.0,11348956512.135315
valor lançado,4375.0,287561053.098779,0.0,0.0,0.0,0.0,357160677863.969971,7168037787.526263
valor realizado,4328.0,510978230.763729,-624211482.24,336.7475,43004.28,961652.9,548491208660.309998,10314230981.388567
percentual realizado,4437.0,17200.12238,-114552.0,0.0,0.0,95.0,72363772.0,1086744.364682
data lançamento,4411,2014-12-31 00:00:00,2014-12-31 00:00:00,2014-12-31 00:00:00,2014-12-31 00:00:00,2014-12-31 00:00:00,2014-12-31 00:00:00,NaN
ano exercício,4553.0,2014.0,2014.0,2014.0,2014.0,2014.0,2014.0,0.0

In [74]:
df_14.describe(include= "O").T

,count,unique,top,freq
nome órgão superior,4325,25,Ministério da Educação,1747
nome órgão,4439,267,Ministério da Economia - Unidades com vínculo ...,465
nome unidade gestora,4392,278,SETORIAL ORCAMENTARIA E FINANCEIRA / ME,365
categoria econômica,4502,5,Receitas Correntes,4051
origem receita,4487,14,Outras Receitas Correntes,2025
espécie receita,4455,46,"Multas administrativas, contratuais e judicia",951
detalhamento,4506,706,RECUPERACAO DE DESPESAS DE EXERC. ANTERIORES,214

In [73]:
df_15.describe().T           #como va a haber porcentajes negativos

,count,mean,min,25%,50%,75%,max,std
código órgão superior,4324.0,31970.860315,20000.0,25000.0,26000.0,36000.0,81000.0,10941.671616
código órgão,4351.0,32019.609975,20101.0,26000.0,26298.0,36211.0,91214.0,11465.439048
código unidade gestora,4326.0,237160.81877,110005.0,153173.0,167086.0,264001.0,913001.0,145720.161158
valor previsto atualizado,4297.0,668178811.234284,0.0,0.0,22284.0,1641495.0,902028908307.0,15204410374.208685
valor lançado,4381.0,69923679.842525,0.0,0.0,0.0,0.0,54211937114.779999,1365041936.360889
valor realizado,4351.0,605428383.607584,-500851791.0,393.68,44651.79,914492.185,771117711060.949951,13297834078.761972
percentual realizado,4322.0,348.894493,-402.0,0.0,0.0,80.75,745465.0,11562.793987
data lançamento,4398,2015-12-31 00:00:00,2015-12-31 00:00:00,2015-12-31 00:00:00,2015-12-31 00:00:00,2015-12-31 00:00:00,2015-12-31 00:00:00,NaN
ano exercício,4523.0,2015.0,2015.0,2015.0,2015.0,2015.0,2015.0,0.0

In [76]:
df_15.describe(include= "O").T

,count,unique,top,freq
nome órgão superior,4308,25,Ministério da Educação,1721
nome órgão,4361,271,Ministério da Economia - Unidades com vínculo ...,466
nome unidade gestora,4449,288,SETORIAL ORCAMENTARIA E FINANCEIRA / ME,374
categoria econômica,4463,4,Receitas Correntes,4037
origem receita,4346,14,Outras Receitas Correntes,1999
espécie receita,4320,41,"Multas administrativas, contratuais e judicia",927
detalhamento,4393,694,RECUPERACAO DE DESPESAS DE EXERC. ANTERIORES,218

In [77]:
df_16.describe().T   #como va a haber porcentajes negativos

,count,mean,min,25%,50%,75%,max,std
código órgão superior,190214.0,32735.986836,20000.0,26000.0,26000.0,39000.0,81000.0,11072.787723
código órgão,190506.0,32087.913158,20101.0,26232.0,26406.0,36212.0,91214.0,10958.211896
código unidade gestora,185211.0,231662.563579,110005.0,153165.0,167086.0,253003.0,913001.0,143282.285279
valor previsto atualizado,184806.0,15747273.497974,0.0,0.0,0.0,0.0,883028610465.0,2430183666.093293
valor lançado,188960.0,1754045.674195,-54211937114.779999,0.0,0.0,0.0,93962415840.259995,443967664.829929
valor realizado,188766.0,14765270.649226,-156285934188.029999,200.0,2060.0,27411.125,199853249683.029999,892743921.484681
percentual realizado,192008.0,0.008239,-3.0,0.0,0.0,0.0,385.0,1.23814
data lançamento,192088,2016-06-29 04:23:03.266002944,2016-01-01 00:00:00,2016-03-30 00:00:00,2016-06-29 00:00:00,2016-09-29 00:00:00,2016-12-31 00:00:00,NaN
ano exercício,194533.0,2016.0,2016.0,2016.0,2016.0,2016.0,2016.0,0.0

In [78]:
df_16.describe(include= "O").T

,count,unique,top,freq
nome órgão superior,190203,25,Ministério da Educação,70266
nome órgão,191144,269,Ministério da Economia - Unidades com vínculo ...,13510
nome unidade gestora,191552,292,SETORIAL ORCAMENTARIA E FINANCEIRA / ME,10952
categoria econômica,192399,4,Receitas Correntes,184635
origem receita,186042,14,Outras Receitas Correntes,67579
espécie receita,190129,44,Serviços Administrativos e Comerciais Gerais,53659
detalhamento,186707,525,SERV.ADMINISTRAT.E COMERCIAIS GERAIS-PRINC.,28989

In [79]:
df_17.describe().T

,count,mean,min,25%,50%,75%,max,std
código órgão superior,185999.0,32547.115845,20000.0,26000.0,26000.0,39000.0,81000.0,10955.975665
código órgão,188418.0,31814.245996,20101.0,26231.0,26405.0,36201.0,91214.0,10681.942444
código unidade gestora,186949.0,231583.87488,110005.0,153166.0,167086.0,253003.0,913001.0,142775.277196
valor previsto atualizado,180955.0,18792979.68145,-214773743.0,0.0,0.0,0.0,925084468997.0,2862904490.583281
valor lançado,182124.0,2490210.347853,-12957230886.98,0.0,0.0,0.0,84511925102.119995,289931323.768856
valor realizado,182807.0,13544741.498324,-24922519115.560001,216.0,2247.84,29592.885,100717273794.669998,435040858.480846
percentual realizado,186281.0,0.010189,0.0,0.0,0.0,0.0,742.0,1.867604
data lançamento,183488,2017-06-29 21:11:18.060690688,2017-01-01 00:00:00,2017-03-30 00:00:00,2017-06-30 00:00:00,2017-09-28 00:00:00,2017-12-31 00:00:00,NaN
ano exercício,190479.0,2016.749999,2016.0,2016.5,2017.0,2017.0,2017.0,0.433015

In [81]:
df_17.describe(include= "O").T

,count,unique,top,freq
nome órgão superior,185979,24,Ministério da Educação,69137
nome órgão,185457,268,Ministério da Economia - Unidades com vínculo ...,13789
nome unidade gestora,188076,318,SETORIAL ORCAMENTARIA E FINANCEIRA / ME,11063
categoria econômica,187950,5,Receitas Correntes,180236
origem receita,181808,15,Outras Receitas Correntes,65611
espécie receita,181798,47,Serviços Administrativos e Comerciais Gerais,49265
detalhamento,186726,514,SERV.ADMINISTRAT.E COMERCIAIS GERAIS-PRINC.,29255

In [83]:
df_18.describe().T

,count,mean,min,25%,50%,75%,max,std
código órgão superior,165690.0,31425.408896,20000.0,25000.0,26000.0,36000.0,81000.0,10166.459924
código órgão,168716.0,30759.630468,20101.0,25000.0,26285.0,32396.0,91214.0,9821.452882
código unidade gestora,166913.0,224882.574233,110005.0,154034.0,167086.0,240901.0,913001.0,138519.077341
valor previsto atualizado,165247.0,21039020.990555,0.0,0.0,0.0,0.0,1130479484929.0,3294057493.632579
valor lançado,170168.0,2754248.766615,-10368360188.309999,0.0,0.0,0.0,125769983134.070007,395273184.970806
valor realizado,165640.0,17302446.191829,-3500000000.0,295.485,3036.24,37590.66,169256367162.369995,632774794.485745
percentual realizado,171264.0,0.001734,0.0,0.0,0.0,0.0,36.0,0.139409
data lançamento,169298,2018-06-29 16:29:38.884570624,2018-01-01 00:00:00,2018-03-30 00:00:00,2018-06-29 00:00:00,2018-09-28 00:00:00,2018-12-31 00:00:00,NaN
ano exercício,173944.0,2017.75,2017.0,2017.75,2018.0,2018.0,2018.0,0.433014

In [82]:
df_18.describe(include= "O").T

,count,unique,top,freq
nome órgão superior,165679,20,Ministério da Educação,62790
nome órgão,166611,260,Ministério da Economia - Unidades com vínculo ...,21908
nome unidade gestora,171411,312,SETORIAL ORCAMENTARIA E FINANCEIRA / ME,20882
categoria econômica,170516,5,Receitas Correntes,162326
origem receita,168037,15,Receita de Serviços,56686
espécie receita,166386,47,Serviços Administrativos e Comerciais Gerais,49206
detalhamento,167435,608,SERV.ADMINISTRAT.E COMERCIAIS GERAIS-PRINC.,28215

In [84]:
df_19.describe().T   #como va a haber porcentajes negativos

,count,mean,min,25%,50%,75%,max,std
código órgão superior,170865.0,31409.703567,20000.0,25000.0,26000.0,36000.0,81000.0,10161.744743
código órgão,173643.0,30825.272945,20101.0,25000.0,26290.0,32396.0,91214.0,9834.693796
código unidade gestora,171547.0,225092.502475,110005.0,154039.0,167086.0,240102.0,913001.0,139752.985581
valor previsto atualizado,167987.0,19341842.193962,0.0,0.0,0.0,0.0,747311062387.0,2512352098.437716
valor lançado,172190.0,1971936.871204,-148347267246.910004,0.0,0.0,0.0,146326992731.609985,662442988.866594
valor realizado,169191.0,17024688.477692,-60439234089.120003,315.0,3262.66,39379.27,50193922075.790001,479651393.25194
percentual realizado,170075.0,0.186912,-282.0,0.0,0.0,0.0,16631.0,49.095948
data lançamento,173914,2019-07-01 17:13:10.859849984,2019-01-01 00:00:00,2019-04-02 00:00:00,2019-07-03 00:00:00,2019-09-30 00:00:00,2019-12-31 00:00:00,NaN
ano exercício,176828.0,2018.75,2018.0,2018.75,2019.0,2019.0,2019.0,0.433014

In [85]:
df_19.describe(include= "O").T

,count,unique,top,freq
nome órgão superior,170857,19,Ministério da Educação,64798
nome órgão,169862,248,Ministério da Economia - Unidades com vínculo ...,22593
nome unidade gestora,174840,269,SETORIAL ORCAMENTARIA E FINANCEIRA / ME,22102
categoria econômica,174890,5,Receitas Correntes,167342
origem receita,168623,15,Receita de Serviços,57171
espécie receita,172708,46,Serviços Administrativos e Comerciais Gerais,51505
detalhamento,172006,635,SERV.ADMINISTRAT.E COMERCIAIS GERAIS-PRINC.,28394

In [86]:
df_20.describe().T

,count,mean,min,25%,50%,75%,max,std
código órgão superior,137044.0,32086.125624,20000.0,25000.0,26000.0,39000.0,81000.0,10598.32121
código órgão,135491.0,31579.852618,20101.0,25000.0,26290.0,36201.0,90000.0,10454.175702
código unidade gestora,138764.0,238443.493471,110005.0,154044.0,170013.0,253003.0,873001.0,151544.696762
valor previsto atualizado,135231.0,26090112.829168,0.0,0.0,0.0,0.0,915650943341.0,3151089045.615634
valor lançado,140252.0,4447722.713776,-83137328053.639999,0.0,0.0,0.0,257513407925.600006,812872097.657915
valor realizado,138063.0,25064651.825275,-22288681258.25,317.015,4346.98,58287.61,350022251304.299988,1113697027.941124
percentual realizado,140314.0,0.285909,0.0,0.0,0.0,0.0,39232.0,104.734931
data lançamento,139954,2020-06-25 08:48:26.257770752,2020-01-01 00:00:00,2020-03-17 00:00:00,2020-06-26 00:00:00,2020-09-29 00:00:00,2020-12-30 00:00:00,NaN
ano exercício,142348.0,2019.75,2019.0,2019.75,2020.0,2020.0,2020.0,0.433014

In [87]:
df_20.describe(include= "O").T

,count,unique,top,freq
nome órgão superior,137034,19,Ministério da Educação,39339
nome órgão,135255,253,Ministério da Economia - Unidades com vínculo ...,21549
nome unidade gestora,139702,268,SETORIAL ORCAMENTARIA E FINANCEIRA / ME,20696
categoria econômica,136452,5,Receitas Correntes,129594
origem receita,138019,15,Outras Receitas Correntes,40864
espécie receita,137467,45,Serviços Administrativos e Comerciais Gerais,32138
detalhamento,138373,624,SERV.ADMINISTRAT.E COMERCIAIS GERAIS-PRINC.,20397

In [88]:
df_21.describe().T #como va a haber porcentajes negativos

,count,mean,min,25%,50%,75%,max,std
código órgão superior,133191.0,31980.689386,20000.0,25000.0,26000.0,39000.0,81000.0,10477.36015
código órgão,131202.0,31457.17534,20101.0,25000.0,26285.0,36000.0,90000.0,10274.244983
código unidade gestora,130352.0,238690.054506,110005.0,154044.0,170013.0,253002.0,873001.0,151288.080629
valor previsto atualizado,127863.0,31622589.556976,0.0,0.0,0.0,0.0,1603521711208.0,4846032058.977045
valor lançado,133148.0,2680547.612767,-37505821629.82,0.0,0.0,0.0,114112106824.449997,400887058.951995
valor realizado,129379.0,28436292.079754,-12126486130.059999,306.17,4350.24,60616.345,55340292367.190002,703122327.495834
percentual realizado,129104.0,0.002541,-1.0,0.0,0.0,0.0,51.0,0.238297
data lançamento,130519,2021-06-16 01:38:51.274373888,2021-01-01 00:00:00,2021-03-26 00:00:00,2021-06-15 00:00:00,2021-09-06 00:00:00,2021-12-03 00:00:00,NaN
ano exercício,134593.0,2020.750002,2020.0,2021.0,2021.0,2021.0,2021.0,0.433013

In [89]:
df_21.describe(include= "O").T

,count,unique,top,freq
nome órgão superior,133186,20,Ministério da Educação,39453
nome órgão,129997,256,Ministério da Economia - Unidades com vínculo ...,20681
nome unidade gestora,128118,267,SETORIAL ORCAMENTARIA E FINANCEIRA / ME,19344
categoria econômica,131846,5,Receitas Correntes,125477
origem receita,132106,15,Receita de Serviços,39200
espécie receita,132754,42,Serviços Administrativos e Comerciais Gerais,33667
detalhamento,132439,598,SERV.ADMINISTRAT.E COMERCIAIS GERAIS-PRINC.,19208