In [1]:
import pandas as pd
import numpy as np
from datetime import datetime
import matplotlib.pyplot as plt   #Esto es para poder hacer gráficos
import seaborn as sns
import re

**Resumen de Limpieza:**  
  
  
***Homogeneización y Transformación:***
- Pasamos a minúscula y eliminamos los espacios de los títulos de las columnas
- Pasamos los ingresos y porcentaje de object a float y la fecha la pasamos de object y de estar heterogenea a datetime y homogeneizada (2016 y 2019).   


***Tratamiento de DUPLICADOS:***  


- Despues de haber concatenado los Data Frames eliminamos los duplicados e hicimos un rest index para tener los índices correctamente.  


***Tratamiento de NULOS:***

Dado que la porporcion de nulos llega al 0,8%, merecería la pena eliminarlos y quedarnos con el otro 99,2% pues la pérdida de información no sería masiva.
Pero debido a que se elimina la fila entera, realmente esto supondría perder el 13% de las celdas. Lo que creo que se puede asumir.


Esta asunción, se debe a que la opción de rellenar los nulos en los valores numéricos con la media o mediana, aunque es verdad que no afectaría a la media y la mediana, si que perderíamos tanto la información sobre cómo se distribuyen como también  crearía una distorsión en las sumas totales.  

14.276.416 celdas completas de info sin ningun nan   
16.418.208 celdas totales (contando nulos)  
Perdemos 13% de las celdas.          



- Hemos tomado los datos nulos y los hemos sumado a la categoría de Sem información. De esta forma no asumimos la categoría ya que no tenemos la certeza de donde puede venir (varible categoría económica/variable origem receita/)

- Hemos imputado valores de las 6 primeras columnas (códigos-nombres) haciendo uso de la relación que llevan coódigo-nombre. 

- En las primeras 6 columnas creamos un nuevo valor (Sem informacion) debido a que aun habiendo imputado, quedan algunos datos nulos.Con las que eran de código como tenian tipo float no podíamos meter un object así que metimos el código 0000 para identificar los desconocidos.


- Hemos decidido eliminar la columna de 'Percentual Realizado' y hacer una columna nueva (Porcentaje Ejecutado). De esta forma pudimos sacar el porcentaje de manera manual, y recuperar unos 30,000 valores perdidos.

- También rellenamos los nulos del año de ejercicio ya que cada dataframe solo tendría su propio año.

- Finalmente hicimos un dropna para eliminar los nulos de los ingresos y un rest index

***FASE 2: UNIÓN Y LIMPIEZA DE DATOS***

In [2]:
df_13= pd.read_csv("datos/datos-2013.csv", sep= ";")
pd.set_option("display.max_columns", None)
df_14= pd.read_csv("datos/datos-2014.csv", sep= ";")
pd.set_option("display.max_columns", None)
df_15= pd.read_csv("datos/datos-2015.csv", sep= ";")
pd.set_option("display.max_columns", None)
df_16= pd.read_csv("datos/datos-2016.csv", sep= ";")
pd.set_option("display.max_columns", None)
df_17= pd.read_csv("datos/datos-2017.csv", sep= ";")
pd.set_option("display.max_columns", None)
df_18= pd.read_csv("datos/datos-2018.csv", sep= ";")
pd.set_option("display.max_columns", None)
df_19= pd.read_csv("datos/datos-2019.csv", sep= ";")
pd.set_option("display.max_columns", None)
df_20= pd.read_csv("datos/datos-2020.csv", sep= ";")
pd.set_option("display.max_columns", None)
df_21= pd.read_csv("datos/datos-2021.csv", sep= ";")
pd.set_option("display.max_columns", None)
#Falta abrir el diccionario de datos

In [3]:
df_dicc= pd.read_csv("datos/diccionario_datos.csv", sep= ";;", encoding= "latin-1")
pd.set_option("display.max_columns", None)

C:\Users\jaime\AppData\Local\Temp\ipykernel_12456\3123453317.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df_dicc= pd.read_csv("datos/diccionario_datos.csv", sep= ";;", encoding= "latin-1")

In [4]:
df_13.columns = [name.lower().strip() for name in df_13.columns]                        
df_14.columns = [name.lower().strip() for name in df_14.columns] 
df_15.columns = [name.lower().strip() for name in df_15.columns] 
df_16.columns = [name.lower().strip() for name in df_16.columns] 
df_17.columns = [name.lower().strip() for name in df_17.columns] 
df_18.columns = [name.lower().strip() for name in df_18.columns] 
df_19.columns = [name.lower().strip() for name in df_19.columns] 
df_20.columns = [name.lower().strip() for name in df_20.columns] 
df_21.columns = [name.lower().strip() for name in df_21.columns] #Cambios de nombre en todas las columnas de todos los df

**COSAS PARA REPETIR EN TODAS**

In [5]:

df_13['nome órgão superior'] = df_13.groupby('código órgão superior')['nome órgão superior'].transform(lambda x: x.fillna(method='ffill'))
df_13['nome órgão superior'].info() #Columna codigo y nombre


df_13["data lançamento"] = pd.to_datetime(df_13["data lançamento"]) 
df_13["data lançamento"]  #cambio a fecha

df_13["valor realizado"]= df_13["valor realizado"].str.replace(",",".")
df_13["valor realizado"] = list(map(float, df_13["valor realizado"]))
df_13["valor lançado"]= df_13["valor lançado"].str.replace(",",".")
df_13["valor lançado"] = list(map(float, df_13["valor lançado"]))
df_13["valor previsto atualizado"]= df_13["valor previsto atualizado"].str.replace(",",".")
df_13["valor previsto atualizado"] = list(map(float, df_13["valor previsto atualizado"]))
df_13["percentual realizado"]= df_13["percentual realizado"].str.replace(",",".")
df_13["percentual realizado"] = list(map(float, df_13["percentual realizado"]))    #cambio a float

C:\Users\jaime\AppData\Local\Temp\ipykernel_12456\910466304.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_13['nome órgão superior'] = df_13.groupby('código órgão superior')['nome órgão superior'].transform(lambda x: x.fillna(method='ffill'))
C:\Users\jaime\AppData\Local\Temp\ipykernel_12456\910466304.py:1: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_13['nome órgão superior'] = df_13.groupby('código órgão superior')['nome órgão superior'].transform(lambda x: x.fillna(method='ffill'))
C:\Users\jaime\AppData\Local\Temp\ipykernel_12456\910466304.py:5: UserWarning: Parsing dates in %d/%m/%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df_13["data lançamento"] = pd.to_datetime(df_13["data lançamento"])

<class 'pandas.core.series.Series'>
RangeIndex: 4498 entries, 0 to 4497
Series name: nome órgão superior
Non-Null Count  Dtype
--------------  -----
4263 non-null   object
dtypes: object(1)
memory usage: 35.3+ KB

In [6]:
df_14['nome órgão superior'] = df_14.groupby('código órgão superior')['nome órgão superior'].transform(lambda x: x.fillna(method='ffill'))
df_14['nome órgão superior'].info() #Columna codigo y nombre


df_14["data lançamento"] = pd.to_datetime(df_14["data lançamento"]) 
df_14["data lançamento"]  #cambio a fecha

df_14["valor realizado"]= df_14["valor realizado"].str.replace(",",".")
df_14["valor realizado"] = list(map(float, df_14["valor realizado"]))
df_14["valor lançado"]= df_14["valor lançado"].str.replace(",",".")
df_14["valor lançado"] = list(map(float, df_14["valor lançado"]))
df_14["valor previsto atualizado"]= df_14["valor previsto atualizado"].str.replace(",",".")
df_14["valor previsto atualizado"] = list(map(float, df_14["valor previsto atualizado"]))
df_14["percentual realizado"]= df_14["percentual realizado"].str.replace(",",".")
df_14["percentual realizado"] = list(map(float, df_14["percentual realizado"]))    #cambio a float

<class 'pandas.core.series.Series'>
RangeIndex: 4553 entries, 0 to 4552
Series name: nome órgão superior
Non-Null Count  Dtype
--------------  -----
4325 non-null   object
dtypes: object(1)
memory usage: 35.7+ KB

C:\Users\jaime\AppData\Local\Temp\ipykernel_12456\2339529443.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_14['nome órgão superior'] = df_14.groupby('código órgão superior')['nome órgão superior'].transform(lambda x: x.fillna(method='ffill'))
C:\Users\jaime\AppData\Local\Temp\ipykernel_12456\2339529443.py:5: UserWarning: Parsing dates in %d/%m/%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df_14["data lançamento"] = pd.to_datetime(df_14["data lançamento"])

In [7]:
df_15['nome órgão superior'] = df_15.groupby('código órgão superior')['nome órgão superior'].transform(lambda x: x.fillna(method='ffill'))
df_15['nome órgão superior'].info() #Columna codigo y nombre


df_15["data lançamento"] = pd.to_datetime(df_15["data lançamento"]) 
df_15["data lançamento"]  #cambio a fecha

df_15["valor realizado"]= df_15["valor realizado"].str.replace(",",".")
df_15["valor realizado"] = list(map(float, df_15["valor realizado"]))
df_15["valor lançado"]= df_15["valor lançado"].str.replace(",",".")
df_15["valor lançado"] = list(map(float, df_15["valor lançado"]))
df_15["valor previsto atualizado"]= df_15["valor previsto atualizado"].str.replace(",",".")
df_15["valor previsto atualizado"] = list(map(float, df_15["valor previsto atualizado"]))
df_15["percentual realizado"]= df_15["percentual realizado"].str.replace(",",".")
df_15["percentual realizado"] = list(map(float, df_15["percentual realizado"]))    #cambio a float

<class 'pandas.core.series.Series'>
RangeIndex: 4523 entries, 0 to 4522
Series name: nome órgão superior
Non-Null Count  Dtype
--------------  -----
4308 non-null   object
dtypes: object(1)
memory usage: 35.5+ KB

C:\Users\jaime\AppData\Local\Temp\ipykernel_12456\192372322.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_15['nome órgão superior'] = df_15.groupby('código órgão superior')['nome órgão superior'].transform(lambda x: x.fillna(method='ffill'))
C:\Users\jaime\AppData\Local\Temp\ipykernel_12456\192372322.py:5: UserWarning: Parsing dates in %d/%m/%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df_15["data lançamento"] = pd.to_datetime(df_15["data lançamento"])

In [8]:
df_16['nome órgão superior'] = df_16.groupby('código órgão superior')['nome órgão superior'].transform(lambda x: x.fillna(method='ffill'))
df_16['nome órgão superior'].info() #Columna codigo y nombre


df_16["data lançamento"] = pd.to_datetime(df_16["data lançamento"], format="%d/%m/%Y")   #He tenido que especificar que venía en otro formato distinto.
df_16["data lançamento"]  #cambio a fecha

df_16["valor realizado"]= df_16["valor realizado"].str.replace(",",".")
df_16["valor realizado"] = list(map(float, df_16["valor realizado"]))
df_16["valor lançado"]= df_16["valor lançado"].str.replace(",",".")
df_16["valor lançado"] = list(map(float, df_16["valor lançado"]))
df_16["valor previsto atualizado"]= df_16["valor previsto atualizado"].str.replace(",",".")
df_16["valor previsto atualizado"] = list(map(float, df_16["valor previsto atualizado"]))
df_16["percentual realizado"]= df_16["percentual realizado"].str.replace(",",".")
df_16["percentual realizado"] = list(map(float, df_16["percentual realizado"]))    #cambio a float

C:\Users\jaime\AppData\Local\Temp\ipykernel_12456\3871943138.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_16['nome órgão superior'] = df_16.groupby('código órgão superior')['nome órgão superior'].transform(lambda x: x.fillna(method='ffill'))

<class 'pandas.core.series.Series'>
RangeIndex: 194533 entries, 0 to 194532
Series name: nome órgão superior
Non-Null Count   Dtype
--------------   -----
190203 non-null  object
dtypes: object(1)
memory usage: 1.5+ MB

In [9]:
df_17['nome órgão superior'] = df_17.groupby('código órgão superior')['nome órgão superior'].transform(lambda x: x.fillna(method='ffill'))
df_17['nome órgão superior'].info() #Columna codigo y nombre


df_17["data lançamento"] = pd.to_datetime(df_17["data lançamento"]) 
df_17["data lançamento"]  #cambio a fecha

df_17["valor realizado"]= df_17["valor realizado"].str.replace(",",".")
df_17["valor realizado"] = list(map(float, df_17["valor realizado"]))
df_17["valor lançado"]= df_17["valor lançado"].str.replace(",",".")
df_17["valor lançado"] = list(map(float, df_17["valor lançado"]))
df_17["valor previsto atualizado"]= df_17["valor previsto atualizado"].str.replace(",",".")
df_17["valor previsto atualizado"] = list(map(float, df_17["valor previsto atualizado"]))
df_17["percentual realizado"]= df_17["percentual realizado"].str.replace(",",".")
df_17["percentual realizado"] = list(map(float, df_17["percentual realizado"]))    #cambio a float

C:\Users\jaime\AppData\Local\Temp\ipykernel_12456\4205365010.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_17['nome órgão superior'] = df_17.groupby('código órgão superior')['nome órgão superior'].transform(lambda x: x.fillna(method='ffill'))

<class 'pandas.core.series.Series'>
RangeIndex: 190479 entries, 0 to 190478
Series name: nome órgão superior
Non-Null Count   Dtype
--------------   -----
185979 non-null  object
dtypes: object(1)
memory usage: 1.5+ MB

C:\Users\jaime\AppData\Local\Temp\ipykernel_12456\4205365010.py:5: UserWarning: Parsing dates in %d/%m/%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df_17["data lançamento"] = pd.to_datetime(df_17["data lançamento"])

In [10]:
df_18['nome órgão superior'] = df_18.groupby('código órgão superior')['nome órgão superior'].transform(lambda x: x.fillna(method='ffill'))
df_18['nome órgão superior'].info() #Columna codigo y nombre


df_18["data lançamento"] = pd.to_datetime(df_18["data lançamento"]) 
df_18["data lançamento"]  #cambio a fecha

df_18["valor realizado"]= df_18["valor realizado"].str.replace(",",".")
df_18["valor realizado"] = list(map(float, df_18["valor realizado"]))
df_18["valor lançado"]= df_18["valor lançado"].str.replace(",",".")
df_18["valor lançado"] = list(map(float, df_18["valor lançado"]))
df_18["valor previsto atualizado"]= df_18["valor previsto atualizado"].str.replace(",",".")
df_18["valor previsto atualizado"] = list(map(float, df_18["valor previsto atualizado"]))
df_18["percentual realizado"]= df_18["percentual realizado"].str.replace(",",".")
df_18["percentual realizado"] = list(map(float, df_18["percentual realizado"]))    #cambio a float

C:\Users\jaime\AppData\Local\Temp\ipykernel_12456\1489711203.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_18['nome órgão superior'] = df_18.groupby('código órgão superior')['nome órgão superior'].transform(lambda x: x.fillna(method='ffill'))
C:\Users\jaime\AppData\Local\Temp\ipykernel_12456\1489711203.py:1: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_18['nome órgão superior'] = df_18.groupby('código órgão superior')['nome órgão superior'].transform(lambda x: x.fillna(method='ffill'))

<class 'pandas.core.series.Series'>
RangeIndex: 173944 entries, 0 to 173943
Series name: nome órgão superior
Non-Null Count   Dtype
--------------   -----
165679 non-null  object
dtypes: object(1)
memory usage: 1.3+ MB

C:\Users\jaime\AppData\Local\Temp\ipykernel_12456\1489711203.py:5: UserWarning: Parsing dates in %d/%m/%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df_18["data lançamento"] = pd.to_datetime(df_18["data lançamento"])

In [11]:
df_19['nome órgão superior'] = df_19.groupby('código órgão superior')['nome órgão superior'].transform(lambda x: x.fillna(method='ffill'))
df_19['nome órgão superior'].info() #Columna codigo y nombre


df_19["data lançamento"] = pd.to_datetime(df_19["data lançamento"], format="%d/%m/%Y")
df_19["data lançamento"]  #cambio a fecha

df_19["valor realizado"]= df_19["valor realizado"].str.replace(",",".")
df_19["valor realizado"] = list(map(float, df_19["valor realizado"]))
df_19["valor lançado"]= df_19["valor lançado"].str.replace(",",".")
df_19["valor lançado"] = list(map(float, df_19["valor lançado"]))
df_19["valor previsto atualizado"]= df_19["valor previsto atualizado"].str.replace(",",".")
df_19["valor previsto atualizado"] = list(map(float, df_19["valor previsto atualizado"]))
df_19["percentual realizado"]= df_19["percentual realizado"].str.replace(",",".")
df_19["percentual realizado"] = list(map(float, df_19["percentual realizado"]))    #cambio a float

C:\Users\jaime\AppData\Local\Temp\ipykernel_12456\1939501729.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_19['nome órgão superior'] = df_19.groupby('código órgão superior')['nome órgão superior'].transform(lambda x: x.fillna(method='ffill'))
C:\Users\jaime\AppData\Local\Temp\ipykernel_12456\1939501729.py:1: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_19['nome órgão superior'] = df_19.groupby('código órgão superior')['nome órgão superior'].transform(lambda x: x.fillna(method='ffill'))

<class 'pandas.core.series.Series'>
RangeIndex: 176828 entries, 0 to 176827
Series name: nome órgão superior
Non-Null Count   Dtype
--------------   -----
170857 non-null  object
dtypes: object(1)
memory usage: 1.3+ MB

In [12]:
df_20['nome órgão superior'] = df_20.groupby('código órgão superior')['nome órgão superior'].transform(lambda x: x.fillna(method='ffill'))
df_20['nome órgão superior'].info() #Columna codigo y nombre


df_20["data lançamento"] = pd.to_datetime(df_20["data lançamento"]) 
df_20["data lançamento"]  #cambio a fecha

df_20["valor realizado"]= df_20["valor realizado"].str.replace(",",".")
df_20["valor realizado"] = list(map(float, df_20["valor realizado"]))
df_20["valor lançado"]= df_20["valor lançado"].str.replace(",",".")
df_20["valor lançado"] = list(map(float, df_20["valor lançado"]))
df_20["valor previsto atualizado"]= df_20["valor previsto atualizado"].str.replace(",",".")
df_20["valor previsto atualizado"] = list(map(float, df_20["valor previsto atualizado"]))
df_20["percentual realizado"]= df_20["percentual realizado"].str.replace(",",".")
df_20["percentual realizado"] = list(map(float, df_20["percentual realizado"]))    #cambio a float

C:\Users\jaime\AppData\Local\Temp\ipykernel_12456\667092361.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_20['nome órgão superior'] = df_20.groupby('código órgão superior')['nome órgão superior'].transform(lambda x: x.fillna(method='ffill'))
C:\Users\jaime\AppData\Local\Temp\ipykernel_12456\667092361.py:1: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_20['nome órgão superior'] = df_20.groupby('código órgão superior')['nome órgão superior'].transform(lambda x: x.fillna(method='ffill'))
C:\Users\jaime\AppData\Local\Temp\ipykernel_12456\667092361.py:5: UserWarning: Parsing dates in %d/%m/%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df_20["data lançamento"] = pd.to_datetime(df_20["data lançamento"])

<class 'pandas.core.series.Series'>
RangeIndex: 142348 entries, 0 to 142347
Series name: nome órgão superior
Non-Null Count   Dtype
--------------   -----
137034 non-null  object
dtypes: object(1)
memory usage: 1.1+ MB

In [13]:



df_21['nome órgão superior'] = df_21.groupby('código órgão superior')['nome órgão superior'].transform(lambda x: x.fillna(method='ffill'))
df_21['nome órgão superior'].info() #Columna codigo y nombre


df_21["data lançamento"] = pd.to_datetime(df_21["data lançamento"]) 
df_21["data lançamento"]  #cambio a fecha

df_21["valor realizado"]= df_21["valor realizado"].str.replace(",",".")
df_21["valor realizado"] = list(map(float, df_21["valor realizado"]))
df_21["valor lançado"]= df_21["valor lançado"].str.replace(",",".")
df_21["valor lançado"] = list(map(float, df_21["valor lançado"]))
df_21["valor previsto atualizado"]= df_21["valor previsto atualizado"].str.replace(",",".")
df_21["valor previsto atualizado"] = list(map(float, df_21["valor previsto atualizado"]))
df_21["percentual realizado"]= df_21["percentual realizado"].str.replace(",",".")
df_21["percentual realizado"] = list(map(float, df_21["percentual realizado"]))    #cambio a float

C:\Users\jaime\AppData\Local\Temp\ipykernel_12456\3239938643.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_21['nome órgão superior'] = df_21.groupby('código órgão superior')['nome órgão superior'].transform(lambda x: x.fillna(method='ffill'))

<class 'pandas.core.series.Series'>
RangeIndex: 134593 entries, 0 to 134592
Series name: nome órgão superior
Non-Null Count   Dtype
--------------   -----
133186 non-null  object
dtypes: object(1)
memory usage: 1.0+ MB

C:\Users\jaime\AppData\Local\Temp\ipykernel_12456\3239938643.py:5: UserWarning: Parsing dates in %d/%m/%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df_21["data lançamento"] = pd.to_datetime(df_21["data lançamento"])

In [14]:
df_13.sample(3)

,código órgão superior,nome órgão superior,código órgão,nome órgão,código unidade gestora,nome unidade gestora,categoria econômica,origem receita,espécie receita,detalhamento,valor previsto atualizado,valor lançado,valor realizado,percentual realizado,data lançamento,ano exercício
2930,26000.0,Ministério da Educação,26280.0,Fundação Universidade Federal de São Carlos,154049.0,FUNDACAO UNIVERSIDADE FEDERAL DE SAO CARLOS,NaN,Receita Patrimonial,NaN,ALUGUEIS,726687.0,0.0,2.158335e+05,30.0,2013-12-31,2013.0
824,25000.0,Ministério da Economia,25000.0,Ministério da Economia - Unidades com vínculo ...,170013.0,SETORIAL ORCAMENTARIA E FINANCEIRA / ME,Receitas de Capital,Amortizações de Empréstimos,Amortizações de Empréstimos,AMORT. REFINANC. - DIVIDAS E OP MEDIO E DE LP,284387996.0,0.0,3.095943e+08,109.0,2013-12-31,NaN
4482,20000.0,Presidência da República,64000.0,Secretaria de Direitos Humanos,200016.0,NaN,Receitas Correntes,Receita de Serviços,Receita de Serviços,TAR.INSCR.CONCURSOS E PROCESSOS SELETIVOS,0.0,0.0,1.164812e+04,0.0,2013-12-31,2013.0

*Para rellenar el año que falta porque pone nan*

In [15]:
listadf= [df_13,df_14,df_15,df_16,df_17,df_18,df_19,df_20,df_21]
lista_anio= [2013,2014,2015,2016,2016,2017,2018,2019,2020,2021]
def fillyear(df, year):
    df["ano exercício"] = df["ano exercício"].fillna(year)
    return df

In [16]:
listadf_aniosbien = list(map(fillyear, listadf, lista_anio))

In [17]:
df_19.info()    #Comprobación de que hemos acabado con los nulos en año lanzamiento y reducido los nulos de nombre órgano superior

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 176828 entries, 0 to 176827
Data columns (total 16 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   código órgão superior      170865 non-null  float64
 1   nome órgão superior        170857 non-null  object
 2   código órgão               173643 non-null  float64
 3   nome órgão                 169862 non-null  object
 4   código unidade gestora     171547 non-null  float64
 5   nome unidade gestora       174840 non-null  object
 6   categoria econômica        174890 non-null  object
 7   origem receita             168623 non-null  object
 8   espécie receita            172708 non-null  object
 9   detalhamento               172006 non-null  object
 10  valor previsto atualizado  167987 non-null  float64
 11  valor lançado              172190 non-null  float64
 12  valor realizado            169191 non-null  float64
 13  percentual realizado       170075 non-null  float64
 14  data lançamento            173914 non-null  datetime64[ns]
 15  ano exercício              176828 non-null  float64
dtypes: datetime64[ns](1), float64(8), object(7)
memory usage: 21.6+ MB

**Mergeo**

In [18]:
df_completa = pd.concat(listadf_aniosbien).reset_index(drop= True)

Completo nan en nome orgao superior, nome orgao y codigo unidade gestora.

In [19]:
df_completa['nome órgão'] = df_completa.groupby('código órgão')['nome órgão'].transform(lambda x: x.fillna(method='ffill'))

df_completa['código unidade gestora'] = df_completa.groupby('nome unidade gestora')['código unidade gestora'].transform(lambda x: x.fillna(method='ffill'))

df_completa['nome órgão superior'] = df_completa.groupby('código órgão superior')['nome órgão superior'].transform(lambda x: x.fillna(method='ffill'))
df_completa.info() #Columna codigo y nombre

C:\Users\jaime\AppData\Local\Temp\ipykernel_12456\557705182.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_completa['nome órgão'] = df_completa.groupby('código órgão')['nome órgão'].transform(lambda x: x.fillna(method='ffill'))
C:\Users\jaime\AppData\Local\Temp\ipykernel_12456\557705182.py:3: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_completa['código unidade gestora'] = df_completa.groupby('nome unidade gestora')['código unidade gestora'].transform(lambda x: x.fillna(method='ffill'))
C:\Users\jaime\AppData\Local\Temp\ipykernel_12456\557705182.py:5: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_completa['nome órgão superior'] = df_completa.groupby('código órgão superior')['nome órgão superior'].transform(lambda x: x.fillna(method='ffill'))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1026299 entries, 0 to 1026298
Data columns (total 16 columns):
 #   Column                     Non-Null Count    Dtype
---  ------                     --------------    -----
 0   código órgão superior      995940 non-null   float64
 1   nome órgão superior        995921 non-null   object
 2   código órgão               1001182 non-null  float64
 3   nome órgão                 1001164 non-null  object
 4   código unidade gestora     1006806 non-null  float64
 5   nome unidade gestora       1006818 non-null  object
 6   categoria econômica        1007321 non-null  object
 7   origem receita             987881 non-null   object
 8   espécie receita            994372 non-null   object
 9   detalhamento               996962 non-null   object
 10  valor previsto atualizado  974984 non-null   float64
 11  valor lançado              999880 non-null   float64
 12  valor realizado            986834 non-null   float64
 13  percentual realizado       1002165 non-null  float64
 14  data lançamento            1002468 non-null  datetime64[ns]
 15  ano exercício              1026299 non-null  float64
dtypes: datetime64[ns](1), float64(8), object(7)
memory usage: 125.3+ MB

**Duplicados para eliminar**

In [20]:
df_completa.duplicated().sum()     #Hay 73 duplicadas que habrá que eliminar

np.int64(160)

In [21]:
df_completa = df_completa.drop_duplicates()
df_completa.duplicated().sum()

np.int64(0)

In [22]:
df_completa.shape

(1026139, 16)

In [23]:
df_completa= df_completa.reset_index(drop= True)
df_completa.sample(3)

,código órgão superior,nome órgão superior,código órgão,nome órgão,código unidade gestora,nome unidade gestora,categoria econômica,origem receita,espécie receita,detalhamento,valor previsto atualizado,valor lançado,valor realizado,percentual realizado,data lançamento,ano exercício
292412,26000.0,Ministério da Educação,26255.0,Universidade Federal dos Vales do Jequitinhonh...,153036.0,UNIVERSIDADE FED.VALES JEQUITINHONHA E MUCURI,Receitas Correntes,Receita de Serviços,Serviços Administrativos e Comerciais Gerais,SERV.ADMINISTRAT.E COMERCIAIS GERAIS-PRINC.,0.0,0.0,2.190000e+02,0.0,2017-10-04,2017.0
445857,25000.0,Ministério da Economia,25000.0,Ministério da Economia - Unidades com vínculo ...,170013.0,SETORIAL ORCAMENTARIA E FINANCEIRA / ME,Receitas Correntes,"Impostos, Taxas e Contribuições de Melhoria",Impostos,IMPOSTO SOBRE A IMPORTAÇÃO-PRINCIPAL,0.0,0.0,1.088922e+09,0.0,2018-03-10,2018.0
961760,26000.0,Ministério da Educação,26283.0,Fundação Universidade Federal do Mato Grosso d...,NaN,NaN,Receitas Correntes,Receita de Serviços,Serviços e Atividades Referentes à Saúde,SERV.ASSIST.SAUDE SUPLEM.SERV.CIVIL-PRINC.,0.0,0.0,3.960000e+03,0.0,2021-10-18,2021.0

**Corregir Categorías(Dentro de nulos)**

In [24]:
a=df_completa["detalhamento"] == "Sem informação"
a.sum()

np.int64(250)

In [25]:
dfprueba= df_completa.groupby("categoria econômica")[["valor previsto atualizado"]].sum()   #Esto es solo para visualizar
dfprueba

                                           valor previsto atualizado
categoria econômica
Receitas Correntes                                      1.314475e+13
Receitas Correntes - intra-orçamentárias                2.694278e+11
Receitas de Capital                                     1.349986e+13
Receitas de Capital - intra-orçamentárias               1.080841e+10
Sem informação                                          0.000000e+00

Tengo que juntar nan y sin información en la misma

In [26]:
df_completa["categoria econômica"].value_counts()

categoria econômica
Receitas Correntes                           961372
Receitas de Capital                           29521
Receitas Correntes - intra-orçamentárias      15926
Sem informação                                  252
Receitas de Capital - intra-orçamentárias        90
Name: count, dtype: int64

In [27]:
df_completa["categoria econômica"].isna().value_counts()

categoria econômica
False    1007161
True       18978
Name: count, dtype: int64

**Fusión de nan y sem informacion**  

En los codigos, 0000 es el codigo que hemos puesto para los sin informacion (porque no se podía poner el str)

In [28]:
df_completa["categoria econômica"]= df_completa["categoria econômica"].fillna(value= "Sem informação")
df_completa["origem receita"]= df_completa["origem receita"].fillna(value= "Sem informação")
df_completa["espécie receita"]= df_completa["espécie receita"].fillna(value= "Sem informação")
df_completa["detalhamento"]= df_completa["detalhamento"].fillna(value= "Sem informação")

df_completa["nome órgão superior"]= df_completa["nome órgão superior"].fillna(value= "Sem informação")
df_completa["nome órgão"]= df_completa["nome órgão"].fillna(value= "Sem informação")
df_completa["nome unidade gestora"]= df_completa["nome unidade gestora"].fillna(value= "Sem informação")

df_completa["código órgão superior"]= df_completa["código órgão superior"].fillna(value= 0000)
df_completa["código órgão"]= df_completa["código órgão"].fillna(value= 0000)
df_completa["código unidade gestora"]= df_completa["código unidade gestora"].fillna(value= 0000)



idx = df_completa[df_completa['nome órgão superior'] == 'Sem informação'].index[0]
df_completa.at[idx, 'nome órgão superior'] = 'Advocacia-Geral da União'   #Esto es porque hay un nan en la primera fila que se sustituyó por sem informaçao en vez de con el nombre asociado al código

In [29]:
df_completa["código órgão superior"].isna().sum()

np.int64(0)

In [30]:
df_completa["origem receita"].unique()

array(['Outras Receitas Correntes', 'Receita de Serviços',
       'Transferências de Capital', 'Alienação de Bens',
       'Receita Agropecuária', 'Transferências Correntes',
       'Receita Patrimonial', 'Operações de Crédito',
       'Impostos, Taxas e Contribuições de Melhoria', 'Sem informação',
       'Amortizações de Empréstimos', 'Contribuições',
       'Receita Industrial', 'Outras Receitas de Capital',
       'Receitas Correntes - a classificar'], dtype=object)

**Creación de nueva columna de porcentajes**

In [31]:
df_completa.drop(columns= ["percentual realizado"], inplace= True)

In [32]:
def calcular_porcentaje(realizado, previsto):
    if pd.isna(realizado) or pd.isna(previsto):
        return 0
    try:
        return (realizado / previsto) * 100 if previsto != 0 else 0
    except Exception as e:
        return 0  

df_completa['porcentaje ejecutado'] = df_completa.apply(
    lambda row: calcular_porcentaje(row['valor realizado'], row['valor previsto atualizado']),
    axis=1
)

In [33]:
df_completa.shape #732939

(1026139, 16)

**Proporcion nulos en mergeado:**  

- Tenemos 1026138 filas*16 columnas= 16.418.208 celdas de datos

- De esas celdas 140.825 tienen valores nulos lo que supone un 0,86% lo que no es casi nada proporcionalmente

In [34]:
df_completa.isna().sum()          #Tenemos 457.535 nulos 
                                  #Ahora tenemos 433.580 nulos
                                  #hemos conseguido tener 414.602 nulos
                                  #Tras juntar nan y sem informaçao tenemos 338.322 nulos
                                  #Tras crear valores 0000 y sem informaçao tenemos 164.959 nulos
                                  #Tras crear una columna propia conseguimos tener 140.825 nulos

código órgão superior            0
nome órgão superior              0
código órgão                     0
nome órgão                       0
código unidade gestora           0
nome unidade gestora             0
categoria econômica              0
origem receita                   0
espécie receita                  0
detalhamento                     0
valor previsto atualizado    51315
valor lançado                26419
valor realizado              39419
data lançamento              23672
ano exercício                    0
porcentaje ejecutado             0
dtype: int64

In [35]:
df_completa.sample(3)

,código órgão superior,nome órgão superior,código órgão,nome órgão,código unidade gestora,nome unidade gestora,categoria econômica,origem receita,espécie receita,detalhamento,valor previsto atualizado,valor lançado,valor realizado,data lançamento,ano exercício,porcentaje ejecutado
488015,26000.0,Ministério da Educação,0.0,Sem informação,155001.0,HOSPITAL DE CLINICAS DE PORTO ALEGRE,Receitas Correntes,Receita de Serviços,Serviços Administrativos e Comerciais Gerais,SERV.ADMINISTRAT.E COMERCIAIS GERAIS-PRINC.,0.0,0.0,NaN,2018-10-29,2018.0,0.0
972058,26000.0,Ministério da Educação,26234.0,Universidade Federal do Espírito Santo,153046.0,UNIVERSIDADE FEDERAL DO ESPIRITO SANTO,Receitas Correntes,Receita Patrimonial,Exploração do patrimônio imobiliário do Estad,ALUGUEIS E ARRENDAMENTOS-PRINCIPAL,0.0,0.0,243.29,2021-06-11,2021.0,0.0
642832,26000.0,Ministério da Educação,26277.0,Universidade Federal de Ouro Preto,154046.0,UNIVERSIDADE FEDERAL DE OURO PRETO,Receitas Correntes,Receita de Serviços,Serviços Administrativos e Comerciais Gerais,SERV.ADMINISTRAT.E COMERCIAIS GERAIS-PRINC.,0.0,0.0,NaN,2019-02-07,2019.0,0.0

**Tratamiento de NULOS**

Dado que la porporcion de nulos llega al 0,8%, merecería la pena eliminarlos y quedarnos con el otro 99,2% pues la pérdida de información no sería masiva.
Pero debido a que se elimina la fila entera, realmente esto supondría perder el 13% de las celdas. Lo que creo que se puede asumir.


Esta asunción, se debe a que la opción de rellenar los nulos en los valores numéricos con la media o mediana, aunque es verdad que no afectaría a la media y la mediana, si que perderíamos tanto la información sobre cómo se distribuyen como también  crearía una distorsión en las sumas totales.

14.276.416 celdas completas de info sin ningun nan 
16.418.208 celdas totales (contando nulos)
Perdemos 13% de las celdas

In [36]:
df_completa.isna().sum()

código órgão superior            0
nome órgão superior              0
código órgão                     0
nome órgão                       0
código unidade gestora           0
nome unidade gestora             0
categoria econômica              0
origem receita                   0
espécie receita                  0
detalhamento                     0
valor previsto atualizado    51315
valor lançado                26419
valor realizado              39419
data lançamento              23672
ano exercício                    0
porcentaje ejecutado             0
dtype: int64

In [37]:
df_completa.shape

(1026139, 16)

In [38]:
dfcompletasinNan= df_completa.dropna()

In [39]:
dfcompletasinNan.reset_index(drop= True, inplace= True)
dfcompletasinNan.tail()

,código órgão superior,nome órgão superior,código órgão,nome órgão,código unidade gestora,nome unidade gestora,categoria econômica,origem receita,espécie receita,detalhamento,valor previsto atualizado,valor lançado,valor realizado,data lançamento,ano exercício,porcentaje ejecutado
892271,20000.0,Presidência da República,60000.0,Gabinete da Vice-Presidência da República,110101.0,GABINETE DA VICE-PRESIDENCIA DA REPUBLICA,Receitas de Capital,Operações de Crédito,Operações de crédito - mercado interno,TITULOS DE RESPONS.TES.NAC.-MERC.INT.-PRINC.,10247198.0,0.0,0.0,2021-04-23,2021.0,0.0
892272,20000.0,Presidência da República,24208.0,Instituto Nacional de Tecnologia da Informação,243001.0,INSTITUTO NAC.DE TECNOLOGIA DA INFORMACAO ITI,Receitas de Capital,Operações de Crédito,Operações de crédito - mercado interno,TITULOS DE RESPONS.TES.NAC.-MERC.INT.-PRINC.,16940891.0,0.0,0.0,2021-04-23,2021.0,0.0
892273,20000.0,Presidência da República,24208.0,Instituto Nacional de Tecnologia da Informação,243001.0,INSTITUTO NAC.DE TECNOLOGIA DA INFORMACAO ITI,Receitas Correntes,Receita de Serviços,Serviços Administrativos e Comerciais Gerais,"SERV.DE REGIST.,CERTIF.E FISCALIZ.-PRINCIPAL",200000.0,0.0,0.0,2021-04-23,2021.0,0.0
892274,20000.0,Presidência da República,24208.0,Instituto Nacional de Tecnologia da Informação,243001.0,INSTITUTO NAC.DE TECNOLOGIA DA INFORMACAO ITI,Receitas Correntes,Receita de Serviços,Serviços Administrativos e Comerciais Gerais,"SERV.DE REGIST.,CERTIF.E FISCALIZ.-PRINCIPAL",0.0,0.0,1000000.0,2021-05-10,2021.0,0.0
892275,20000.0,Presidência da República,24208.0,Instituto Nacional de Tecnologia da Informação,243001.0,INSTITUTO NAC.DE TECNOLOGIA DA INFORMACAO ITI,Receitas Correntes,Receita de Serviços,Serviços Administrativos e Comerciais Gerais,"SERV.DE REGIST.,CERTIF.E FISCALIZ.-PRINCIPAL",0.0,0.0,1000000.0,2021-03-23,2021.0,0.0

In [40]:
dfcompletasinNan.sample(4)

,código órgão superior,nome órgão superior,código órgão,nome órgão,código unidade gestora,nome unidade gestora,categoria econômica,origem receita,espécie receita,detalhamento,valor previsto atualizado,valor lançado,valor realizado,data lançamento,ano exercício,porcentaje ejecutado
268017,26000.0,Ministério da Educação,26436.0,Instituto Federal Sul-rio-grandense,158126.0,"INST.FED.DE EDUC.,CIE.E TEC.SUL-RIO-GRANDENSE",Receitas Correntes,Receita de Serviços,Serviços Administrativos e Comerciais Gerais,SERV.ADMINISTRAT.E COMERCIAIS GERAIS-PRINC.,0.0,0.0,388.50,2017-11-24,2017.0,0.0
551507,25000.0,Ministério da Economia,25201.0,Banco Central do Brasil - Orçamento Fiscal e S...,173057.0,BANCO CENTRAL DO BRASIL,Receitas Correntes,Receita de Serviços,Outros serviços,OUTROS SERVICOS-PRINCIPAL,0.0,0.0,78580.31,2019-10-04,2019.0,0.0
465185,30000.0,Ministério da Justiça e Segurança Pública,30912.0,Fundo Nacional Antidrogas,200246.0,FUNDO NACIONAL ANTIDROGAS,Receitas Correntes,Outras Receitas Correntes,"Bens, Direitos e Valores Incorporados ao Patr",ALIEN.BENS E MERCADORIAS APREENDIDOS-MUL.JUR.,0.0,0.0,2139.80,2018-11-06,2018.0,0.0
134495,39000.0,Ministério da Infraestrutura,39250.0,Agência Nacional de Transportes Terrestres,393001.0,AGENCIA NACIONAL DE TRANSPORTES TERRESTRES,Receitas Correntes,"Impostos, Taxas e Contribuições de Melhoria",Taxas,"TAXAS INSPECAO,CONTROLE E FISCALIZACAO-PRINC.",0.0,0.0,22735.03,2016-06-22,2016.0,0.0

In [41]:
dfcompletasinNan.shape  #14.276.416 celdas completas  
                        #16.418.208 celdas totales (contando nulos)
                        #Perdemos 13% de las celdas

(892276, 16)

In [42]:
dfcompletasinNan.isna().sum()

código órgão superior        0
nome órgão superior          0
código órgão                 0
nome órgão                   0
código unidade gestora       0
nome unidade gestora         0
categoria econômica          0
origem receita               0
espécie receita              0
detalhamento                 0
valor previsto atualizado    0
valor lançado                0
valor realizado              0
data lançamento              0
ano exercício                0
porcentaje ejecutado         0
dtype: int64

In [43]:
df_completa.to_csv("datos/df_completa.csv") 
dfcompletasinNan.to_csv("datos/dfcompletasinNan.csv")